node-red-userDir/lib/flows/draftExample.json
[
  {
    "id": "842437f2.4a3728",
    "type": "inject",
    "z": "61d18005.a08ab",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 197.01734924316406,
    "y": 140.01040649414062,
    "wires": [
      [
        "ad35235f.2e742"
      ]
    ]
  },
  {
    "id": "a8ecd091.718ff",
    "type": "debug",
    "z": "61d18005.a08ab",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 417.0173797607422,
    "y": 139.5242919921875,
    "wires": []
  },
  {
    "id": "ad35235f.2e742",
    "type": "function",
    "z": "61d18005.a08ab",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 301.5208282470703,
    "y": 261.86808013916016,
    "wires": [
      [
        "a8ecd091.718ff"
      ]
    ]
  }
]