node-red-userDir/flows_Davids-MacBook-Pro-4.local.json
[{"id":"d6419992.118b88","type":"tab","label":"Flow 1"},{"id":"290c5ce8.7184d4","type":"http in","z":"d6419992.118b88","name":"pipe","url":"/pipe","method":"post","upload":false,"swaggerDoc":"","x":77.0173568725586,"y":385.680561542511,"wires":[["2e6c91be.b605ae"]]},{"id":"b8bb5a1f.7aac88","type":"pipe1","z":"d6419992.118b88","name":"","x":441.0069465637207,"y":385.78470754623413,"wires":[["a7cad66f.c948d8"]]},{"id":"2e6c91be.b605ae","type":"json-schema","z":"d6419992.118b88","name":"Pipes Schema","func":"{\n  \"properties\": {\n    \"amount\": {\n    \"type\": \"number\"\n    },  \n    \"tax\": {\n      \"type\": \"number\"\n    },\n    \"surcharge\": {\n    \"type\": \"number\"\n    },\n    \"shipping\": {\n    \"type\": \"number\"\n    },\n    \"total\": {\n    \"type\": \"number\"\n    }\n  },\n  \"required\":[\"amount\",\"tax\",\"surcharge\",\"shipping\"]\n}","x":250.01041793823242,"y":385.7916579246521,"wires":[["b8bb5a1f.7aac88"]]},{"id":"d53ae90e.1e3c18","type":"catch","z":"d6419992.118b88","name":"","scope":null,"x":88.01737785339355,"y":184.5590205192566,"wires":[["5dcfe159.7afff","be380ce6.f5e3a"]]},{"id":"ec78848a.8d79d8","type":"http response","z":"d6419992.118b88","name":"errors","statusCode":"400","headers":{},"x":693.0069484710693,"y":178.78472185134888,"wires":[]},{"id":"f037fe3a.ad9e3","type":"change","z":"d6419992.118b88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"errors","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":479.01387214660645,"y":182.44097089767456,"wires":[["ec78848a.8d79d8"]]},{"id":"5dcfe159.7afff","type":"debug","z":"d6419992.118b88","name":"","active":true,"console":"false","complete":"true","x":249.00348472595215,"y":130.99999237060547,"wires":[]},{"id":"be380ce6.f5e3a","type":"function","z":"d6419992.118b88","name":"merge errors","func":"var catchAllErrors = {};\ncatchAllErrors.errors = [];\ncatchAllErrors.errors[0] = msg.error;\ncatchAllErrors.errors[1] = msg._error;\nmsg.errors = catchAllErrors;\nreturn msg;","outputs":1,"noerr":0,"x":265.01740074157715,"y":183.9340262413025,"wires":[["f037fe3a.ad9e3"]]},{"id":"a7cad66f.c948d8","type":"pipe2","z":"d6419992.118b88","name":"","x":443.0138931274414,"y":443.9409556388855,"wires":[["296ad879.792738"]]},{"id":"296ad879.792738","type":"pipe3","z":"d6419992.118b88","name":"","x":449.0035171508789,"y":496.9097361564636,"wires":[["bc13d38e.30dca"]]},{"id":"bc13d38e.30dca","type":"pipe1","z":"d6419992.118b88","name":"","x":450,"y":560,"wires":[["5bd383ba.5e93ac"]]},{"id":"5bd383ba.5e93ac","type":"pipe2","z":"d6419992.118b88","name":"","x":450,"y":640,"wires":[["ab54da3.3eeb128"]]},{"id":"ab54da3.3eeb128","type":"pipe3","z":"d6419992.118b88","name":"","x":450,"y":720,"wires":[["ef6db97f.208998"]]},{"id":"ef6db97f.208998","type":"pipe1","z":"d6419992.118b88","name":"","x":450,"y":780,"wires":[["c32fa1be.5cc8"]]},{"id":"c32fa1be.5cc8","type":"pipe2","z":"d6419992.118b88","name":"","x":450,"y":860,"wires":[["4ccda29f.bb643c"]]},{"id":"4ccda29f.bb643c","type":"pipe3","z":"d6419992.118b88","name":"","x":450,"y":940,"wires":[["224a0fd2.4b347"]]},{"id":"224a0fd2.4b347","type":"pipe1","z":"d6419992.118b88","name":"","x":450,"y":1000,"wires":[["4490197.e5102e8"]]},{"id":"4490197.e5102e8","type":"pipe1","z":"d6419992.118b88","name":"","x":730,"y":380,"wires":[["923cc8e.701d238"]]},{"id":"923cc8e.701d238","type":"pipe2","z":"d6419992.118b88","name":"","x":732.0069465637207,"y":438.15624809265137,"wires":[["4a09637e.dc0a8c"]]},{"id":"4a09637e.dc0a8c","type":"pipe3","z":"d6419992.118b88","name":"","x":737.9965705871582,"y":491.1250286102295,"wires":[["708d43e6.9a7ebc"]]},{"id":"708d43e6.9a7ebc","type":"pipe1","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":554.2152924537659,"wires":[["3b023650.ba585a"]]},{"id":"3b023650.ba585a","type":"pipe2","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":634.2152924537659,"wires":[["1ad4345d.2a44ec"]]},{"id":"1ad4345d.2a44ec","type":"pipe3","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":714.2152924537659,"wires":[["bcc125bb.3ea6e8"]]},{"id":"bcc125bb.3ea6e8","type":"pipe1","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":774.2152924537659,"wires":[["b570cec7.a4d7"]]},{"id":"b570cec7.a4d7","type":"pipe2","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":854.2152924537659,"wires":[["513f5075.58c13"]]},{"id":"513f5075.58c13","type":"pipe3","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":934.2152924537659,"wires":[["2b4d6ead.410df2"]]},{"id":"2b4d6ead.410df2","type":"pipe1","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":1014.2152924537659,"wires":[["f77f4fa9.ece7"]]},{"id":"f77f4fa9.ece7","type":"pipe1","z":"d6419992.118b88","name":"","x":970,"y":380,"wires":[["4fd1d0d6.9b971"]]},{"id":"4fd1d0d6.9b971","type":"pipe2","z":"d6419992.118b88","name":"","x":972.0069465637207,"y":438.15624809265137,"wires":[["e4f51096.ca03a"]]},{"id":"e4f51096.ca03a","type":"pipe3","z":"d6419992.118b88","name":"","x":977.9965705871582,"y":491.1250286102295,"wires":[["c0a5bc05.6a419"]]},{"id":"c0a5bc05.6a419","type":"pipe1","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":554.2152924537659,"wires":[["46bb5e1a.259a8"]]},{"id":"46bb5e1a.259a8","type":"pipe2","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":634.2152924537659,"wires":[["481a477f.6a5308"]]},{"id":"481a477f.6a5308","type":"pipe3","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":714.2152924537659,"wires":[["a5c72bd5.2dea78"]]},{"id":"a5c72bd5.2dea78","type":"pipe1","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":774.2152924537659,"wires":[["2d4f551.9e64aaa"]]},{"id":"2d4f551.9e64aaa","type":"pipe2","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":854.2152924537659,"wires":[["42380844.0e4e58"]]},{"id":"42380844.0e4e58","type":"pipe3","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":934.2152924537659,"wires":[["4bbf07e8.da5478"]]},{"id":"4bbf07e8.da5478","type":"pipe1","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":1014.2152924537659,"wires":[["911eced7.e1bb4"]]},{"id":"911eced7.e1bb4","type":"pipe1","z":"d6419992.118b88","name":"","x":1210,"y":380,"wires":[["842bc352.ad926"]]},{"id":"842bc352.ad926","type":"pipe2","z":"d6419992.118b88","name":"","x":1212.0069465637207,"y":438.15624809265137,"wires":[["58a7e5.e587781c"]]},{"id":"58a7e5.e587781c","type":"pipe3","z":"d6419992.118b88","name":"","x":1217.9965705871582,"y":491.1250286102295,"wires":[["ce951162.f3f0f"]]},{"id":"ce951162.f3f0f","type":"pipe1","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":554.2152924537659,"wires":[["a34b5514.6c6888"]]},{"id":"a34b5514.6c6888","type":"pipe2","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":634.2152924537659,"wires":[["eacacb4c.b599d8"]]},{"id":"eacacb4c.b599d8","type":"pipe3","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":714.2152924537659,"wires":[["cc233d0a.8823e"]]},{"id":"cc233d0a.8823e","type":"pipe1","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":774.2152924537659,"wires":[["2eef6997.50d736"]]},{"id":"2eef6997.50d736","type":"pipe2","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":854.2152924537659,"wires":[["ee88cf97.0fb2e"]]},{"id":"ee88cf97.0fb2e","type":"pipe3","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":934.2152924537659,"wires":[["992fe43d.c594c8"]]},{"id":"992fe43d.c594c8","type":"pipe1","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":1014.2152924537659,"wires":[["c23eec32.fdea"]]},{"id":"c23eec32.fdea","type":"pipe1","z":"d6419992.118b88","name":"","x":1410,"y":380,"wires":[["c0c80bb2.eeca18"]]},{"id":"c0c80bb2.eeca18","type":"pipe2","z":"d6419992.118b88","name":"","x":1412.0069465637207,"y":438.15624809265137,"wires":[["44b47a9b.1545c4"]]},{"id":"44b47a9b.1545c4","type":"pipe3","z":"d6419992.118b88","name":"","x":1417.9965705871582,"y":491.1250286102295,"wires":[["3800ff7a.2b67b"]]},{"id":"3800ff7a.2b67b","type":"pipe1","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":554.2152924537659,"wires":[["6747faf6.65b0c4"]]},{"id":"6747faf6.65b0c4","type":"pipe2","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":634.2152924537659,"wires":[["dae19cd1.683d5"]]},{"id":"dae19cd1.683d5","type":"pipe3","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":714.2152924537659,"wires":[["35f3f8b9.4faa08"]]},{"id":"35f3f8b9.4faa08","type":"pipe1","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":774.2152924537659,"wires":[["3e0e9fa5.ff7da"]]},{"id":"3e0e9fa5.ff7da","type":"pipe2","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":854.2152924537659,"wires":[["e1853a37.596298"]]},{"id":"e1853a37.596298","type":"pipe3","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":934.2152924537659,"wires":[["d0d3d4.b144ac3"]]},{"id":"d0d3d4.b144ac3","type":"pipe1","z":"d6419992.118b88","name":"","x":1410,"y":1020,"wires":[["a1888bf1.922d38"]]},{"id":"a1888bf1.922d38","type":"pipe1","z":"d6419992.118b88","name":"","x":430,"y":1200,"wires":[["f66a8f77.28da4"]]},{"id":"f66a8f77.28da4","type":"pipe2","z":"d6419992.118b88","name":"","x":452.0069465637207,"y":1258.1562480926514,"wires":[["7a7b3dad.0a11e4"]]},{"id":"7a7b3dad.0a11e4","type":"pipe3","z":"d6419992.118b88","name":"","x":457.9965705871582,"y":1311.1250286102295,"wires":[["6b083232.1996fc"]]},{"id":"6b083232.1996fc","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1374.2152924537659,"wires":[["291156a8.e2d41a"]]},{"id":"291156a8.e2d41a","type":"pipe2","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1454.2152924537659,"wires":[["635eb148.c86f7"]]},{"id":"635eb148.c86f7","type":"pipe3","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1534.2152924537659,"wires":[["25e3f1c4.10f8ae"]]},{"id":"25e3f1c4.10f8ae","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1594.2152924537659,"wires":[["a35cecba.785af"]]},{"id":"a35cecba.785af","type":"pipe2","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1674.2152924537659,"wires":[["60178cb4.63a284"]]},{"id":"60178cb4.63a284","type":"pipe3","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1754.2152924537659,"wires":[["73bc978c.de8ca8"]]},{"id":"73bc978c.de8ca8","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":1814.2152924537659,"wires":[["f7757c35.2caa"]]},{"id":"f7757c35.2caa","type":"pipe1","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":1194.2152924537659,"wires":[["c3cf5376.db6cb"]]},{"id":"c3cf5376.db6cb","type":"pipe2","z":"d6419992.118b88","name":"","x":741,"y":1252.3715405464172,"wires":[["b32cf025.70c46"]]},{"id":"b32cf025.70c46","type":"pipe3","z":"d6419992.118b88","name":"","x":746.9896240234375,"y":1305.3403210639954,"wires":[["462c9291.8dfefc"]]},{"id":"462c9291.8dfefc","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1368.4305849075317,"wires":[["9a23bfd7.a52c9"]]},{"id":"9a23bfd7.a52c9","type":"pipe2","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1448.4305849075317,"wires":[["d91900c.52f9a"]]},{"id":"d91900c.52f9a","type":"pipe3","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1528.4305849075317,"wires":[["7a042de4.dbc2f4"]]},{"id":"7a042de4.dbc2f4","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1588.4305849075317,"wires":[["919f9a45.21ad18"]]},{"id":"919f9a45.21ad18","type":"pipe2","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1668.4305849075317,"wires":[["68db4194.c8824"]]},{"id":"68db4194.c8824","type":"pipe3","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1748.4305849075317,"wires":[["a2c5861.0524978"]]},{"id":"a2c5861.0524978","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":1828.4305849075317,"wires":[["a24f21ff.0b06f"]]},{"id":"a24f21ff.0b06f","type":"pipe1","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":1194.2152924537659,"wires":[["2d90d74f.504ce8"]]},{"id":"2d90d74f.504ce8","type":"pipe2","z":"d6419992.118b88","name":"","x":981,"y":1252.3715405464172,"wires":[["267847dc.c71648"]]},{"id":"267847dc.c71648","type":"pipe3","z":"d6419992.118b88","name":"","x":986.9896240234375,"y":1305.3403210639954,"wires":[["ae447b7a.bbe6b8"]]},{"id":"ae447b7a.bbe6b8","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1368.4305849075317,"wires":[["408a3f91.cfb19"]]},{"id":"408a3f91.cfb19","type":"pipe2","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1448.4305849075317,"wires":[["3bff6fb0.cd346"]]},{"id":"3bff6fb0.cd346","type":"pipe3","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1528.4305849075317,"wires":[["87b7d2e9.7cdef"]]},{"id":"87b7d2e9.7cdef","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1588.4305849075317,"wires":[["5f7dd824.e7bb08"]]},{"id":"5f7dd824.e7bb08","type":"pipe2","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1668.4305849075317,"wires":[["5b6c4a7.4f998b4"]]},{"id":"5b6c4a7.4f998b4","type":"pipe3","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1748.4305849075317,"wires":[["feb61137.f5bf6"]]},{"id":"feb61137.f5bf6","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":1828.4305849075317,"wires":[["e0079a35.060fc8"]]},{"id":"e0079a35.060fc8","type":"pipe1","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":1194.2152924537659,"wires":[["c5093fae.8d08c"]]},{"id":"c5093fae.8d08c","type":"pipe2","z":"d6419992.118b88","name":"","x":1221,"y":1252.3715405464172,"wires":[["35f89061.d0932"]]},{"id":"35f89061.d0932","type":"pipe3","z":"d6419992.118b88","name":"","x":1226.9896240234375,"y":1305.3403210639954,"wires":[["eb3250f3.5822c"]]},{"id":"eb3250f3.5822c","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1368.4305849075317,"wires":[["6605e022.462f5"]]},{"id":"6605e022.462f5","type":"pipe2","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1448.4305849075317,"wires":[["658b4fbc.36ab7"]]},{"id":"658b4fbc.36ab7","type":"pipe3","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1528.4305849075317,"wires":[["ce221a73.c18ad8"]]},{"id":"ce221a73.c18ad8","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1588.4305849075317,"wires":[["1f354b6c.8968d5"]]},{"id":"1f354b6c.8968d5","type":"pipe2","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1668.4305849075317,"wires":[["f3fc4a3e.194bc8"]]},{"id":"f3fc4a3e.194bc8","type":"pipe3","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1748.4305849075317,"wires":[["6c3d19c.f311ce8"]]},{"id":"6c3d19c.f311ce8","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":1828.4305849075317,"wires":[["a7c906a6.697d28"]]},{"id":"a7c906a6.697d28","type":"pipe1","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":1194.2152924537659,"wires":[["66198406.00e27c"]]},{"id":"66198406.00e27c","type":"pipe2","z":"d6419992.118b88","name":"","x":1421,"y":1252.3715405464172,"wires":[["b90a66e3.745db8"]]},{"id":"b90a66e3.745db8","type":"pipe3","z":"d6419992.118b88","name":"","x":1426.9896240234375,"y":1305.3403210639954,"wires":[["1ab0a84d.fdf458"]]},{"id":"1ab0a84d.fdf458","type":"pipe1","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1368.4305849075317,"wires":[["71d6725d.352d6c"]]},{"id":"71d6725d.352d6c","type":"pipe2","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1448.4305849075317,"wires":[["3b72ac76.00d824"]]},{"id":"3b72ac76.00d824","type":"pipe3","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1528.4305849075317,"wires":[["8202fd9d.f2194"]]},{"id":"8202fd9d.f2194","type":"pipe1","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1588.4305849075317,"wires":[["c0cebaff.69f1a8"]]},{"id":"c0cebaff.69f1a8","type":"pipe2","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1668.4305849075317,"wires":[["e596abb9.d42a48"]]},{"id":"e596abb9.d42a48","type":"pipe3","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":1748.4305849075317,"wires":[["e61f0c72.c0a9"]]},{"id":"e61f0c72.c0a9","type":"pipe1","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":1834.2152924537659,"wires":[["1a879a87.617555"]]},{"id":"1a879a87.617555","type":"pipe1","z":"d6419992.118b88","name":"","x":450,"y":1980,"wires":[["ea743b28.263008"]]},{"id":"ea743b28.263008","type":"pipe2","z":"d6419992.118b88","name":"","x":452.0069465637207,"y":2038.1562480926514,"wires":[["233022e9.186d8e"]]},{"id":"233022e9.186d8e","type":"pipe3","z":"d6419992.118b88","name":"","x":457.9965705871582,"y":2091.1250286102295,"wires":[["14ca46d7.62b119"]]},{"id":"14ca46d7.62b119","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2154.215292453766,"wires":[["1c9a1230.4eba1e"]]},{"id":"1c9a1230.4eba1e","type":"pipe2","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2234.215292453766,"wires":[["8bfba8fc.e84e28"]]},{"id":"8bfba8fc.e84e28","type":"pipe3","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2314.215292453766,"wires":[["f08ba0f7.71899"]]},{"id":"f08ba0f7.71899","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2374.215292453766,"wires":[["46a6beb7.c8ce9"]]},{"id":"46a6beb7.c8ce9","type":"pipe2","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2454.215292453766,"wires":[["d6e656fa.bd0a08"]]},{"id":"d6e656fa.bd0a08","type":"pipe3","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2534.215292453766,"wires":[["971e0ea.2e04af"]]},{"id":"971e0ea.2e04af","type":"pipe1","z":"d6419992.118b88","name":"","x":458.9930534362793,"y":2594.215292453766,"wires":[["25f79ce0.ed90e4"]]},{"id":"25f79ce0.ed90e4","type":"pipe1","z":"d6419992.118b88","name":"","x":738.9930534362793,"y":1974.2152924537659,"wires":[["2a58c462.3c576c"]]},{"id":"2a58c462.3c576c","type":"pipe2","z":"d6419992.118b88","name":"","x":741,"y":2032.3715405464172,"wires":[["31a36d8c.b2d002"]]},{"id":"31a36d8c.b2d002","type":"pipe3","z":"d6419992.118b88","name":"","x":746.9896240234375,"y":2085.3403210639954,"wires":[["eb5dcd43.ddf24"]]},{"id":"eb5dcd43.ddf24","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2148.4305849075317,"wires":[["f57fe370.92dee"]]},{"id":"f57fe370.92dee","type":"pipe2","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2228.4305849075317,"wires":[["e328284f.1a8588"]]},{"id":"e328284f.1a8588","type":"pipe3","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2308.4305849075317,"wires":[["ce1d649.8176698"]]},{"id":"ce1d649.8176698","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2368.4305849075317,"wires":[["a43392ce.a6eeb"]]},{"id":"a43392ce.a6eeb","type":"pipe2","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2448.4305849075317,"wires":[["d1c01d70.0d487"]]},{"id":"d1c01d70.0d487","type":"pipe3","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2528.4305849075317,"wires":[["badd5723.16bb28"]]},{"id":"badd5723.16bb28","type":"pipe1","z":"d6419992.118b88","name":"","x":747.9861068725586,"y":2608.4305849075317,"wires":[["260abe7.c9f9d42"]]},{"id":"260abe7.c9f9d42","type":"pipe1","z":"d6419992.118b88","name":"","x":978.9930534362793,"y":1974.2152924537659,"wires":[["48ab485.5441cb8"]]},{"id":"48ab485.5441cb8","type":"pipe2","z":"d6419992.118b88","name":"","x":981,"y":2032.3715405464172,"wires":[["aab528af.09c498"]]},{"id":"aab528af.09c498","type":"pipe3","z":"d6419992.118b88","name":"","x":986.9896240234375,"y":2085.3403210639954,"wires":[["87754bcb.b32888"]]},{"id":"87754bcb.b32888","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2148.4305849075317,"wires":[["22883182.ef5d0e"]]},{"id":"22883182.ef5d0e","type":"pipe2","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2228.4305849075317,"wires":[["d6e84f92.a4d5"]]},{"id":"d6e84f92.a4d5","type":"pipe3","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2308.4305849075317,"wires":[["b306a80e.34d9a8"]]},{"id":"b306a80e.34d9a8","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2368.4305849075317,"wires":[["5498b4d9.1df12c"]]},{"id":"5498b4d9.1df12c","type":"pipe2","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2448.4305849075317,"wires":[["ec76f98b.7182a8"]]},{"id":"ec76f98b.7182a8","type":"pipe3","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2528.4305849075317,"wires":[["4e7b9a4c.caf684"]]},{"id":"4e7b9a4c.caf684","type":"pipe1","z":"d6419992.118b88","name":"","x":987.9861068725586,"y":2608.4305849075317,"wires":[["3e2c6bc1.c54794"]]},{"id":"3e2c6bc1.c54794","type":"pipe1","z":"d6419992.118b88","name":"","x":1218.9930534362793,"y":1974.2152924537659,"wires":[["898036c9.b07ec8"]]},{"id":"898036c9.b07ec8","type":"pipe2","z":"d6419992.118b88","name":"","x":1221,"y":2032.3715405464172,"wires":[["c81c0d01.b273b"]]},{"id":"c81c0d01.b273b","type":"pipe3","z":"d6419992.118b88","name":"","x":1226.9896240234375,"y":2085.3403210639954,"wires":[["dcf30bcb.4ca848"]]},{"id":"dcf30bcb.4ca848","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2148.4305849075317,"wires":[["f09aa0d1.79eed"]]},{"id":"f09aa0d1.79eed","type":"pipe2","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2228.4305849075317,"wires":[["cea7ee81.fe2ec"]]},{"id":"cea7ee81.fe2ec","type":"pipe3","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2308.4305849075317,"wires":[["e246e7fc.2a3878"]]},{"id":"e246e7fc.2a3878","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2368.4305849075317,"wires":[["ba24799a.8917b8"]]},{"id":"ba24799a.8917b8","type":"pipe2","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2448.4305849075317,"wires":[["d6898c05.7822b"]]},{"id":"d6898c05.7822b","type":"pipe3","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2528.4305849075317,"wires":[["3eba3455.711e3c"]]},{"id":"3eba3455.711e3c","type":"pipe1","z":"d6419992.118b88","name":"","x":1227.9861068725586,"y":2608.4305849075317,"wires":[["4b8dfe3a.78422"]]},{"id":"4b8dfe3a.78422","type":"pipe1","z":"d6419992.118b88","name":"","x":1418.9930534362793,"y":1974.2152924537659,"wires":[["ad9a6f45.c6789"]]},{"id":"ad9a6f45.c6789","type":"pipe2","z":"d6419992.118b88","name":"","x":1421,"y":2032.3715405464172,"wires":[["7cc5bbc0.57b834"]]},{"id":"7cc5bbc0.57b834","type":"pipe3","z":"d6419992.118b88","name":"","x":1426.9896240234375,"y":2085.3403210639954,"wires":[["40991929.caf268"]]},{"id":"40991929.caf268","type":"pipe1","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2148.4305849075317,"wires":[["15596d6b.f43563"]]},{"id":"15596d6b.f43563","type":"pipe2","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2228.4305849075317,"wires":[["f2f6ee3d.c5d9c"]]},{"id":"f2f6ee3d.c5d9c","type":"pipe3","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2308.4305849075317,"wires":[["c0a6683d.7ec0a8"]]},{"id":"c0a6683d.7ec0a8","type":"pipe1","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2368.4305849075317,"wires":[["a5354252.515db"]]},{"id":"a5354252.515db","type":"pipe2","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2448.4305849075317,"wires":[["ef4f080b.bf0af8"]]},{"id":"ef4f080b.bf0af8","type":"pipe3","z":"d6419992.118b88","name":"","x":1427.9861068725586,"y":2528.4305849075317,"wires":[["8c045d7d.3ccd9"]]},{"id":"8c045d7d.3ccd9","type":"pipe1","z":"d6419992.118b88","name":"","x":1410,"y":2620,"wires":[["2eff96b9.c4073a"]]},{"id":"c5dde5ab.fdcb68","type":"http response","z":"d6419992.118b88","name":"Succss","statusCode":"","headers":{},"x":4540,"y":3440,"wires":[]},{"id":"2eff96b9.c4073a","type":"pipe1","z":"d6419992.118b88","name":"","x":1730,"y":380,"wires":[["c93ce689.1f8358"]]},{"id":"c93ce689.1f8358","type":"pipe2","z":"d6419992.118b88","name":"","x":1732.0069465637207,"y":438.15624809265137,"wires":[["61420e4b.5e4e4"]]},{"id":"61420e4b.5e4e4","type":"pipe3","z":"d6419992.118b88","name":"","x":1737.9965705871582,"y":491.1250286102295,"wires":[["b8ce483e.b51898"]]},{"id":"b8ce483e.b51898","type":"pipe1","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":554.2152924537659,"wires":[["637969e2.a513a8"]]},{"id":"637969e2.a513a8","type":"pipe2","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":634.2152924537659,"wires":[["2d0886fb.a8981a"]]},{"id":"2d0886fb.a8981a","type":"pipe3","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":714.2152924537659,"wires":[["6a469d3e.25bb14"]]},{"id":"6a469d3e.25bb14","type":"pipe1","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":774.2152924537659,"wires":[["a47c0e97.676dd"]]},{"id":"a47c0e97.676dd","type":"pipe2","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":854.2152924537659,"wires":[["7f02df6e.80344"]]},{"id":"7f02df6e.80344","type":"pipe3","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":934.2152924537659,"wires":[["7b276cb3.032cd4"]]},{"id":"7b276cb3.032cd4","type":"pipe1","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":994.2152924537659,"wires":[["c9264269.fa5a9"]]},{"id":"c9264269.fa5a9","type":"pipe1","z":"d6419992.118b88","name":"","x":2018.9930534362793,"y":374.21529245376587,"wires":[["89a8d282.bba06"]]},{"id":"89a8d282.bba06","type":"pipe2","z":"d6419992.118b88","name":"","x":2021,"y":432.37154054641724,"wires":[["92f29a37.6d1108"]]},{"id":"92f29a37.6d1108","type":"pipe3","z":"d6419992.118b88","name":"","x":2026.9896240234375,"y":485.34032106399536,"wires":[["e5c529b2.8ac1b8"]]},{"id":"e5c529b2.8ac1b8","type":"pipe1","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":548.4305849075317,"wires":[["eec83ebc.295ea"]]},{"id":"eec83ebc.295ea","type":"pipe2","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":628.4305849075317,"wires":[["d08f2828.368b28"]]},{"id":"d08f2828.368b28","type":"pipe3","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":708.4305849075317,"wires":[["d6b58de0.4ed38"]]},{"id":"d6b58de0.4ed38","type":"pipe1","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":768.4305849075317,"wires":[["ba36875f.6e9f68"]]},{"id":"ba36875f.6e9f68","type":"pipe2","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":848.4305849075317,"wires":[["5eddf0f8.211f5"]]},{"id":"5eddf0f8.211f5","type":"pipe3","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":928.4305849075317,"wires":[["fc3d1dca.5efb6"]]},{"id":"fc3d1dca.5efb6","type":"pipe1","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":1008.4305849075317,"wires":[["ef77b553.3c5d68"]]},{"id":"ef77b553.3c5d68","type":"pipe1","z":"d6419992.118b88","name":"","x":2258.9930534362793,"y":374.21529245376587,"wires":[["167cd5bc.cbbf6a"]]},{"id":"167cd5bc.cbbf6a","type":"pipe2","z":"d6419992.118b88","name":"","x":2261,"y":432.37154054641724,"wires":[["840ec4c0.4b78d8"]]},{"id":"840ec4c0.4b78d8","type":"pipe3","z":"d6419992.118b88","name":"","x":2266.9896240234375,"y":485.34032106399536,"wires":[["d2b3a340.410ca"]]},{"id":"d2b3a340.410ca","type":"pipe1","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":548.4305849075317,"wires":[["a5ed691e.4ae288"]]},{"id":"a5ed691e.4ae288","type":"pipe2","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":628.4305849075317,"wires":[["75b7f535.178a5c"]]},{"id":"75b7f535.178a5c","type":"pipe3","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":708.4305849075317,"wires":[["2876578d.c0c198"]]},{"id":"2876578d.c0c198","type":"pipe1","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":768.4305849075317,"wires":[["706fe879.a750a8"]]},{"id":"706fe879.a750a8","type":"pipe2","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":848.4305849075317,"wires":[["fca60364.07a5c"]]},{"id":"fca60364.07a5c","type":"pipe3","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":928.4305849075317,"wires":[["6667f35.2dd490c"]]},{"id":"6667f35.2dd490c","type":"pipe1","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":1008.4305849075317,"wires":[["1f3e13e3.8bb6cc"]]},{"id":"1f3e13e3.8bb6cc","type":"pipe1","z":"d6419992.118b88","name":"","x":2498.9930534362793,"y":374.21529245376587,"wires":[["693a7d2.16b7184"]]},{"id":"693a7d2.16b7184","type":"pipe2","z":"d6419992.118b88","name":"","x":2501,"y":432.37154054641724,"wires":[["7b46cee4.f46da"]]},{"id":"7b46cee4.f46da","type":"pipe3","z":"d6419992.118b88","name":"","x":2506.9896240234375,"y":485.34032106399536,"wires":[["1e395ece.be9561"]]},{"id":"1e395ece.be9561","type":"pipe1","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":548.4305849075317,"wires":[["11f64123.a7875f"]]},{"id":"11f64123.a7875f","type":"pipe2","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":628.4305849075317,"wires":[["d92439da.8f95d8"]]},{"id":"d92439da.8f95d8","type":"pipe3","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":708.4305849075317,"wires":[["36bc811f.6bbcee"]]},{"id":"36bc811f.6bbcee","type":"pipe1","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":768.4305849075317,"wires":[["959b70ae.d384e"]]},{"id":"959b70ae.d384e","type":"pipe2","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":848.4305849075317,"wires":[["bbe932cc.d108b"]]},{"id":"bbe932cc.d108b","type":"pipe3","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":928.4305849075317,"wires":[["2021e5fd.71847a"]]},{"id":"2021e5fd.71847a","type":"pipe1","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":1008.4305849075317,"wires":[["b94c2ae3.498c38"]]},{"id":"b94c2ae3.498c38","type":"pipe1","z":"d6419992.118b88","name":"","x":2698.9930534362793,"y":374.21529245376587,"wires":[["a50a0606.e7c0d8"]]},{"id":"a50a0606.e7c0d8","type":"pipe2","z":"d6419992.118b88","name":"","x":2701,"y":432.37154054641724,"wires":[["3fa3b95b.61d176"]]},{"id":"3fa3b95b.61d176","type":"pipe3","z":"d6419992.118b88","name":"","x":2706.9896240234375,"y":485.34032106399536,"wires":[["437c964f.eb2648"]]},{"id":"437c964f.eb2648","type":"pipe1","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":548.4305849075317,"wires":[["8490a2fe.88981"]]},{"id":"8490a2fe.88981","type":"pipe2","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":628.4305849075317,"wires":[["3522f9e5.1adfb6"]]},{"id":"3522f9e5.1adfb6","type":"pipe3","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":708.4305849075317,"wires":[["47c901b8.169ea"]]},{"id":"47c901b8.169ea","type":"pipe1","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":768.4305849075317,"wires":[["77bee4cf.9e25ac"]]},{"id":"77bee4cf.9e25ac","type":"pipe2","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":848.4305849075317,"wires":[["5f27b398.86e9cc"]]},{"id":"5f27b398.86e9cc","type":"pipe3","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":928.4305849075317,"wires":[["67133101.5e1eb"]]},{"id":"67133101.5e1eb","type":"pipe1","z":"d6419992.118b88","name":"","x":2698.9930534362793,"y":1014.2152924537659,"wires":[["ae56e994.9c9078"]]},{"id":"ae56e994.9c9078","type":"pipe1","z":"d6419992.118b88","name":"","x":1718.9930534362793,"y":1194.2152924537659,"wires":[["769633e0.73a67c"]]},{"id":"769633e0.73a67c","type":"pipe2","z":"d6419992.118b88","name":"","x":1741,"y":1252.3715405464172,"wires":[["5ae5f0e2.79c14"]]},{"id":"5ae5f0e2.79c14","type":"pipe3","z":"d6419992.118b88","name":"","x":1746.9896240234375,"y":1305.3403210639954,"wires":[["50c93321.a91cdc"]]},{"id":"50c93321.a91cdc","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1368.4305849075317,"wires":[["842d9d1b.c122e"]]},{"id":"842d9d1b.c122e","type":"pipe2","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1448.4305849075317,"wires":[["f3fe4081.66ef8"]]},{"id":"f3fe4081.66ef8","type":"pipe3","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1528.4305849075317,"wires":[["5a71f7e7.d204c8"]]},{"id":"5a71f7e7.d204c8","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1588.4305849075317,"wires":[["8389df04.893c9"]]},{"id":"8389df04.893c9","type":"pipe2","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1668.4305849075317,"wires":[["8362fdef.1e756"]]},{"id":"8362fdef.1e756","type":"pipe3","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1748.4305849075317,"wires":[["96143ef7.9cf41"]]},{"id":"96143ef7.9cf41","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":1808.4305849075317,"wires":[["7d70aadd.5cd4a4"]]},{"id":"7d70aadd.5cd4a4","type":"pipe1","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":1188.4305849075317,"wires":[["68f6df19.22eaa"]]},{"id":"68f6df19.22eaa","type":"pipe2","z":"d6419992.118b88","name":"","x":2029.9930534362793,"y":1246.586833000183,"wires":[["59768b1a.ecf9d4"]]},{"id":"59768b1a.ecf9d4","type":"pipe3","z":"d6419992.118b88","name":"","x":2035.9826774597168,"y":1299.5556135177612,"wires":[["3e49d064.09e54"]]},{"id":"3e49d064.09e54","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1362.6458773612976,"wires":[["b1d82d5b.892c2"]]},{"id":"b1d82d5b.892c2","type":"pipe2","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1442.6458773612976,"wires":[["c8f8c4cc.a95aa8"]]},{"id":"c8f8c4cc.a95aa8","type":"pipe3","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1522.6458773612976,"wires":[["4b952ade.620574"]]},{"id":"4b952ade.620574","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1582.6458773612976,"wires":[["4cc4c38c.1b6d6c"]]},{"id":"4cc4c38c.1b6d6c","type":"pipe2","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1662.6458773612976,"wires":[["a9f57ccb.9e531"]]},{"id":"a9f57ccb.9e531","type":"pipe3","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1742.6458773612976,"wires":[["3f9a85c9.ec96da"]]},{"id":"3f9a85c9.ec96da","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":1822.6458773612976,"wires":[["c990c1a4.37032"]]},{"id":"c990c1a4.37032","type":"pipe1","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":1188.4305849075317,"wires":[["388bfe97.4462d2"]]},{"id":"388bfe97.4462d2","type":"pipe2","z":"d6419992.118b88","name":"","x":2269.9930534362793,"y":1246.586833000183,"wires":[["d63920d0.d7aa1"]]},{"id":"d63920d0.d7aa1","type":"pipe3","z":"d6419992.118b88","name":"","x":2275.982677459717,"y":1299.5556135177612,"wires":[["d94f25fc.260288"]]},{"id":"d94f25fc.260288","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1362.6458773612976,"wires":[["23237dbf.d85a12"]]},{"id":"23237dbf.d85a12","type":"pipe2","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1442.6458773612976,"wires":[["51f7c06.2ddf54"]]},{"id":"51f7c06.2ddf54","type":"pipe3","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1522.6458773612976,"wires":[["26c7fb82.593c74"]]},{"id":"26c7fb82.593c74","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1582.6458773612976,"wires":[["e8e6d9f5.4e5d78"]]},{"id":"e8e6d9f5.4e5d78","type":"pipe2","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1662.6458773612976,"wires":[["3fd5af76.80584"]]},{"id":"3fd5af76.80584","type":"pipe3","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1742.6458773612976,"wires":[["e2250ff7.9a846"]]},{"id":"e2250ff7.9a846","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":1822.6458773612976,"wires":[["c24c1c3f.e07f2"]]},{"id":"c24c1c3f.e07f2","type":"pipe1","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":1188.4305849075317,"wires":[["c6d4302b.14aac"]]},{"id":"c6d4302b.14aac","type":"pipe2","z":"d6419992.118b88","name":"","x":2509.9930534362793,"y":1246.586833000183,"wires":[["1078802.b95958"]]},{"id":"1078802.b95958","type":"pipe3","z":"d6419992.118b88","name":"","x":2515.982677459717,"y":1299.5556135177612,"wires":[["b44a093d.aec938"]]},{"id":"b44a093d.aec938","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1362.6458773612976,"wires":[["736a8be.97f6b74"]]},{"id":"736a8be.97f6b74","type":"pipe2","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1442.6458773612976,"wires":[["7940bbde.77aab4"]]},{"id":"7940bbde.77aab4","type":"pipe3","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1522.6458773612976,"wires":[["fda1a115.01e08"]]},{"id":"fda1a115.01e08","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1582.6458773612976,"wires":[["934dcf9b.a6234"]]},{"id":"934dcf9b.a6234","type":"pipe2","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1662.6458773612976,"wires":[["e0eb6a6a.97f738"]]},{"id":"e0eb6a6a.97f738","type":"pipe3","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1742.6458773612976,"wires":[["1b268069.2d0ff"]]},{"id":"1b268069.2d0ff","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":1822.6458773612976,"wires":[["75267971.8f9878"]]},{"id":"75267971.8f9878","type":"pipe1","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":1188.4305849075317,"wires":[["e5d230f5.c00ba"]]},{"id":"e5d230f5.c00ba","type":"pipe2","z":"d6419992.118b88","name":"","x":2709.9930534362793,"y":1246.586833000183,"wires":[["33ee0e8.a8e1af2"]]},{"id":"33ee0e8.a8e1af2","type":"pipe3","z":"d6419992.118b88","name":"","x":2715.982677459717,"y":1299.5556135177612,"wires":[["5a34339d.34374c"]]},{"id":"5a34339d.34374c","type":"pipe1","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1362.6458773612976,"wires":[["c30c6dd9.5f787"]]},{"id":"c30c6dd9.5f787","type":"pipe2","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1442.6458773612976,"wires":[["6df44fec.de472"]]},{"id":"6df44fec.de472","type":"pipe3","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1522.6458773612976,"wires":[["1fe84cd3.80a933"]]},{"id":"1fe84cd3.80a933","type":"pipe1","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1582.6458773612976,"wires":[["262e5fa2.14c89"]]},{"id":"262e5fa2.14c89","type":"pipe2","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1662.6458773612976,"wires":[["7ec2a112.91d9c"]]},{"id":"7ec2a112.91d9c","type":"pipe3","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":1742.6458773612976,"wires":[["b1f4776f.1d20f8"]]},{"id":"b1f4776f.1d20f8","type":"pipe1","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":1828.4305849075317,"wires":[["242d9765.6e24e8"]]},{"id":"242d9765.6e24e8","type":"pipe1","z":"d6419992.118b88","name":"","x":1738.9930534362793,"y":1974.2152924537659,"wires":[["a0a4bb8b.00ee98"]]},{"id":"a0a4bb8b.00ee98","type":"pipe2","z":"d6419992.118b88","name":"","x":1741,"y":2032.3715405464172,"wires":[["6de49e17.dec12"]]},{"id":"6de49e17.dec12","type":"pipe3","z":"d6419992.118b88","name":"","x":1746.9896240234375,"y":2085.3403210639954,"wires":[["6ca6b4c4.4e5d7c"]]},{"id":"6ca6b4c4.4e5d7c","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2148.4305849075317,"wires":[["4c57bb15.4ab9b4"]]},{"id":"4c57bb15.4ab9b4","type":"pipe2","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2228.4305849075317,"wires":[["d5f8c9d6.c4e458"]]},{"id":"d5f8c9d6.c4e458","type":"pipe3","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2308.4305849075317,"wires":[["53bef0b.5ade31"]]},{"id":"53bef0b.5ade31","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2368.4305849075317,"wires":[["62f851a0.a3ca7"]]},{"id":"62f851a0.a3ca7","type":"pipe2","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2448.4305849075317,"wires":[["f78ecf4d.fe3c"]]},{"id":"f78ecf4d.fe3c","type":"pipe3","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2528.4305849075317,"wires":[["7c039c57.baef24"]]},{"id":"7c039c57.baef24","type":"pipe1","z":"d6419992.118b88","name":"","x":1747.9861068725586,"y":2588.4305849075317,"wires":[["6f8d2433.ad794c"]]},{"id":"6f8d2433.ad794c","type":"pipe1","z":"d6419992.118b88","name":"","x":2027.9861068725586,"y":1968.4305849075317,"wires":[["a282be5e.3a92f"]]},{"id":"a282be5e.3a92f","type":"pipe2","z":"d6419992.118b88","name":"","x":2029.9930534362793,"y":2026.586833000183,"wires":[["9926d8af.e039e8"]]},{"id":"9926d8af.e039e8","type":"pipe3","z":"d6419992.118b88","name":"","x":2035.9826774597168,"y":2079.5556135177612,"wires":[["15ba183b.c66eb8"]]},{"id":"15ba183b.c66eb8","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2142.6458773612976,"wires":[["f29dfaee.fe1208"]]},{"id":"f29dfaee.fe1208","type":"pipe2","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2222.6458773612976,"wires":[["1b0d0d84.096a72"]]},{"id":"1b0d0d84.096a72","type":"pipe3","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2302.6458773612976,"wires":[["a4ab5102.409dc"]]},{"id":"a4ab5102.409dc","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2362.6458773612976,"wires":[["5d60e0ad.2516b"]]},{"id":"5d60e0ad.2516b","type":"pipe2","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2442.6458773612976,"wires":[["2c0bed08.8ba2e2"]]},{"id":"2c0bed08.8ba2e2","type":"pipe3","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2522.6458773612976,"wires":[["e76243b4.d4aa8"]]},{"id":"e76243b4.d4aa8","type":"pipe1","z":"d6419992.118b88","name":"","x":2036.979160308838,"y":2602.6458773612976,"wires":[["d98d7f8d.d6632"]]},{"id":"d98d7f8d.d6632","type":"pipe1","z":"d6419992.118b88","name":"","x":2267.9861068725586,"y":1968.4305849075317,"wires":[["161fd83f.a7e9a8"]]},{"id":"161fd83f.a7e9a8","type":"pipe2","z":"d6419992.118b88","name":"","x":2269.9930534362793,"y":2026.586833000183,"wires":[["19332cc7.cef153"]]},{"id":"19332cc7.cef153","type":"pipe3","z":"d6419992.118b88","name":"","x":2275.982677459717,"y":2079.5556135177612,"wires":[["b77c3e76.fe235"]]},{"id":"b77c3e76.fe235","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2142.6458773612976,"wires":[["9dfde20c.0f109"]]},{"id":"9dfde20c.0f109","type":"pipe2","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2222.6458773612976,"wires":[["4baf76b4.fa8128"]]},{"id":"4baf76b4.fa8128","type":"pipe3","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2302.6458773612976,"wires":[["75dedf6d.aaae7"]]},{"id":"75dedf6d.aaae7","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2362.6458773612976,"wires":[["3c44c620.3c842a"]]},{"id":"3c44c620.3c842a","type":"pipe2","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2442.6458773612976,"wires":[["4a24a10e.2e61a"]]},{"id":"4a24a10e.2e61a","type":"pipe3","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2522.6458773612976,"wires":[["3619e9ca.c7e7e6"]]},{"id":"3619e9ca.c7e7e6","type":"pipe1","z":"d6419992.118b88","name":"","x":2276.979160308838,"y":2602.6458773612976,"wires":[["924314be.3e3168"]]},{"id":"924314be.3e3168","type":"pipe1","z":"d6419992.118b88","name":"","x":2507.9861068725586,"y":1968.4305849075317,"wires":[["7f56db33.bafe44"]]},{"id":"7f56db33.bafe44","type":"pipe2","z":"d6419992.118b88","name":"","x":2509.9930534362793,"y":2026.586833000183,"wires":[["b066907f.e6ef5"]]},{"id":"b066907f.e6ef5","type":"pipe3","z":"d6419992.118b88","name":"","x":2515.982677459717,"y":2079.5556135177612,"wires":[["8cc5ccd1.cb55e"]]},{"id":"8cc5ccd1.cb55e","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2142.6458773612976,"wires":[["59003d03.b09254"]]},{"id":"59003d03.b09254","type":"pipe2","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2222.6458773612976,"wires":[["65af7d34.eac1b4"]]},{"id":"65af7d34.eac1b4","type":"pipe3","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2302.6458773612976,"wires":[["9a564522.970768"]]},{"id":"9a564522.970768","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2362.6458773612976,"wires":[["88eb42c8.be52b"]]},{"id":"88eb42c8.be52b","type":"pipe2","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2442.6458773612976,"wires":[["ef4bebfa.669fb8"]]},{"id":"ef4bebfa.669fb8","type":"pipe3","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2522.6458773612976,"wires":[["cf22c2dd.5f0d"]]},{"id":"cf22c2dd.5f0d","type":"pipe1","z":"d6419992.118b88","name":"","x":2516.979160308838,"y":2602.6458773612976,"wires":[["aa457da3.da9df"]]},{"id":"aa457da3.da9df","type":"pipe1","z":"d6419992.118b88","name":"","x":2707.9861068725586,"y":1968.4305849075317,"wires":[["becc3bbe.75f218"]]},{"id":"becc3bbe.75f218","type":"pipe2","z":"d6419992.118b88","name":"","x":2709.9930534362793,"y":2026.586833000183,"wires":[["f3b7fa3c.3782b8"]]},{"id":"f3b7fa3c.3782b8","type":"pipe3","z":"d6419992.118b88","name":"","x":2715.982677459717,"y":2079.5556135177612,"wires":[["3717e7ee.7e63e8"]]},{"id":"3717e7ee.7e63e8","type":"pipe1","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2142.6458773612976,"wires":[["60efd7b8.c9d198"]]},{"id":"60efd7b8.c9d198","type":"pipe2","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2222.6458773612976,"wires":[["ce21c938.df5b98"]]},{"id":"ce21c938.df5b98","type":"pipe3","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2302.6458773612976,"wires":[["8426bf8e.f0205"]]},{"id":"8426bf8e.f0205","type":"pipe1","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2362.6458773612976,"wires":[["fdba0b70.4319d8"]]},{"id":"fdba0b70.4319d8","type":"pipe2","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2442.6458773612976,"wires":[["b13f2969.f87228"]]},{"id":"b13f2969.f87228","type":"pipe3","z":"d6419992.118b88","name":"","x":2716.979160308838,"y":2522.6458773612976,"wires":[["58247abd.2a7bb4"]]},{"id":"58247abd.2a7bb4","type":"pipe1","z":"d6419992.118b88","name":"","x":2710,"y":2600,"wires":[["185b3841.862bd8"]]},{"id":"185b3841.862bd8","type":"pipe1","z":"d6419992.118b88","name":"","x":410,"y":2740,"wires":[["3c5dc65f.c73d1a"]]},{"id":"3c5dc65f.c73d1a","type":"pipe2","z":"d6419992.118b88","name":"","x":412.0069465637207,"y":2798.1562480926514,"wires":[["23128605.a805fa"]]},{"id":"23128605.a805fa","type":"pipe3","z":"d6419992.118b88","name":"","x":417.9965705871582,"y":2851.1250286102295,"wires":[["54467ca.c0bf584"]]},{"id":"54467ca.c0bf584","type":"pipe1","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":2914.215292453766,"wires":[["93e81ea1.eda0a"]]},{"id":"93e81ea1.eda0a","type":"pipe2","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":2994.215292453766,"wires":[["97ea73b6.0a07b"]]},{"id":"97ea73b6.0a07b","type":"pipe3","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":3074.215292453766,"wires":[["29437446.ce5aac"]]},{"id":"29437446.ce5aac","type":"pipe1","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":3134.215292453766,"wires":[["630a01a8.a6e9d"]]},{"id":"630a01a8.a6e9d","type":"pipe2","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":3214.215292453766,"wires":[["a9e1a921.d97aa8"]]},{"id":"a9e1a921.d97aa8","type":"pipe3","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":3294.215292453766,"wires":[["714ca38f.4e8dbc"]]},{"id":"714ca38f.4e8dbc","type":"pipe1","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":3354.215292453766,"wires":[["78df80e3.ca49b"]]},{"id":"78df80e3.ca49b","type":"pipe1","z":"d6419992.118b88","name":"","x":698.9930534362793,"y":2734.215292453766,"wires":[["fba5e62a.a2c228"]]},{"id":"fba5e62a.a2c228","type":"pipe2","z":"d6419992.118b88","name":"","x":701,"y":2792.3715405464172,"wires":[["e1643b4c.6dd758"]]},{"id":"e1643b4c.6dd758","type":"pipe3","z":"d6419992.118b88","name":"","x":706.9896240234375,"y":2845.3403210639954,"wires":[["1caf0b9a.b6e934"]]},{"id":"1caf0b9a.b6e934","type":"pipe1","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":2908.4305849075317,"wires":[["e99c2fb3.b2fab"]]},{"id":"e99c2fb3.b2fab","type":"pipe2","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":2988.4305849075317,"wires":[["2dc4373c.8b7588"]]},{"id":"2dc4373c.8b7588","type":"pipe3","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3068.4305849075317,"wires":[["b98979.7a77e688"]]},{"id":"b98979.7a77e688","type":"pipe1","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3128.4305849075317,"wires":[["b719f63a.5aa0f8"]]},{"id":"b719f63a.5aa0f8","type":"pipe2","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3208.4305849075317,"wires":[["2367895.b74d276"]]},{"id":"2367895.b74d276","type":"pipe3","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3288.4305849075317,"wires":[["4a7e4e0e.dabc"]]},{"id":"4a7e4e0e.dabc","type":"pipe1","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3368.4305849075317,"wires":[["adb201d3.dd4ee"]]},{"id":"adb201d3.dd4ee","type":"pipe1","z":"d6419992.118b88","name":"","x":938.9930534362793,"y":2734.215292453766,"wires":[["3997604d.06ccc"]]},{"id":"3997604d.06ccc","type":"pipe2","z":"d6419992.118b88","name":"","x":941,"y":2792.3715405464172,"wires":[["6fe02844.178fa8"]]},{"id":"6fe02844.178fa8","type":"pipe3","z":"d6419992.118b88","name":"","x":946.9896240234375,"y":2845.3403210639954,"wires":[["b958f4ec.8d0e68"]]},{"id":"b958f4ec.8d0e68","type":"pipe1","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":2908.4305849075317,"wires":[["df5c2926.a712a8"]]},{"id":"df5c2926.a712a8","type":"pipe2","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":2988.4305849075317,"wires":[["b2ccaeec.d71d6"]]},{"id":"b2ccaeec.d71d6","type":"pipe3","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3068.4305849075317,"wires":[["e80cdc0b.96d44"]]},{"id":"e80cdc0b.96d44","type":"pipe1","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3128.4305849075317,"wires":[["877288d5.e5f9b8"]]},{"id":"877288d5.e5f9b8","type":"pipe2","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3208.4305849075317,"wires":[["33a5fdbb.747fe2"]]},{"id":"33a5fdbb.747fe2","type":"pipe3","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3288.4305849075317,"wires":[["68e14df7.b21484"]]},{"id":"68e14df7.b21484","type":"pipe1","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3368.4305849075317,"wires":[["d5ba353c.b712f8"]]},{"id":"d5ba353c.b712f8","type":"pipe1","z":"d6419992.118b88","name":"","x":1178.9930534362793,"y":2734.215292453766,"wires":[["d1b50b9.05767f8"]]},{"id":"d1b50b9.05767f8","type":"pipe2","z":"d6419992.118b88","name":"","x":1181,"y":2792.3715405464172,"wires":[["372705fe.bc663a"]]},{"id":"372705fe.bc663a","type":"pipe3","z":"d6419992.118b88","name":"","x":1186.9896240234375,"y":2845.3403210639954,"wires":[["d01945b0.c92968"]]},{"id":"d01945b0.c92968","type":"pipe1","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":2908.4305849075317,"wires":[["b1a59406.779ad8"]]},{"id":"b1a59406.779ad8","type":"pipe2","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":2988.4305849075317,"wires":[["2b8edd04.3a64a2"]]},{"id":"2b8edd04.3a64a2","type":"pipe3","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3068.4305849075317,"wires":[["982234b4.cb3c38"]]},{"id":"982234b4.cb3c38","type":"pipe1","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3128.4305849075317,"wires":[["2f7a7187.75cafe"]]},{"id":"2f7a7187.75cafe","type":"pipe2","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3208.4305849075317,"wires":[["c41c8e5c.4bbc7"]]},{"id":"c41c8e5c.4bbc7","type":"pipe3","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3288.4305849075317,"wires":[["b3ae1ac1.fb3f88"]]},{"id":"b3ae1ac1.fb3f88","type":"pipe1","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3368.4305849075317,"wires":[["5ce29f5b.67e75"]]},{"id":"5ce29f5b.67e75","type":"pipe1","z":"d6419992.118b88","name":"","x":1378.9930534362793,"y":2734.215292453766,"wires":[["e55e8172.579e4"]]},{"id":"e55e8172.579e4","type":"pipe2","z":"d6419992.118b88","name":"","x":1381,"y":2792.3715405464172,"wires":[["10e28304.a844ed"]]},{"id":"10e28304.a844ed","type":"pipe3","z":"d6419992.118b88","name":"","x":1386.9896240234375,"y":2845.3403210639954,"wires":[["85687543.48b268"]]},{"id":"85687543.48b268","type":"pipe1","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":2908.4305849075317,"wires":[["84a397df.d5a7b8"]]},{"id":"84a397df.d5a7b8","type":"pipe2","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":2988.4305849075317,"wires":[["897174f9.85f358"]]},{"id":"897174f9.85f358","type":"pipe3","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":3068.4305849075317,"wires":[["1a61dde9.601a02"]]},{"id":"1a61dde9.601a02","type":"pipe1","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":3128.4305849075317,"wires":[["64e1dba6.c30084"]]},{"id":"64e1dba6.c30084","type":"pipe2","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":3208.4305849075317,"wires":[["4a0eaffa.8a0c8"]]},{"id":"4a0eaffa.8a0c8","type":"pipe3","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":3288.4305849075317,"wires":[["c4834c6.1a7d8b"]]},{"id":"c4834c6.1a7d8b","type":"pipe1","z":"d6419992.118b88","name":"","x":1378.9930534362793,"y":3374.215292453766,"wires":[["18bf594a.e016f7"]]},{"id":"18bf594a.e016f7","type":"pipe1","z":"d6419992.118b88","name":"","x":398.9930534362793,"y":3554.215292453766,"wires":[["39252e19.b3e7a2"]]},{"id":"39252e19.b3e7a2","type":"pipe2","z":"d6419992.118b88","name":"","x":421,"y":3612.3715405464172,"wires":[["50a41487.8d016c"]]},{"id":"50a41487.8d016c","type":"pipe3","z":"d6419992.118b88","name":"","x":426.9896240234375,"y":3665.3403210639954,"wires":[["85b1f0da.41721"]]},{"id":"85b1f0da.41721","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":3728.4305849075317,"wires":[["9c027551.ace468"]]},{"id":"9c027551.ace468","type":"pipe2","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":3808.4305849075317,"wires":[["f8c633da.b1157"]]},{"id":"f8c633da.b1157","type":"pipe3","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":3888.4305849075317,"wires":[["cb80c8e2.0c42e8"]]},{"id":"cb80c8e2.0c42e8","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":3948.4305849075317,"wires":[["f4c72c3e.03279"]]},{"id":"f4c72c3e.03279","type":"pipe2","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4028.4305849075317,"wires":[["dcde54b2.533f38"]]},{"id":"dcde54b2.533f38","type":"pipe3","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4108.430584907532,"wires":[["1ea3da92.b259d5"]]},{"id":"1ea3da92.b259d5","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4168.430584907532,"wires":[["f6fb45f.acd20b8"]]},{"id":"f6fb45f.acd20b8","type":"pipe1","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":3548.4305849075317,"wires":[["f4e799e5.c8bcf8"]]},{"id":"f4e799e5.c8bcf8","type":"pipe2","z":"d6419992.118b88","name":"","x":709.9930534362793,"y":3606.586833000183,"wires":[["e1eb69e7.e5aea8"]]},{"id":"e1eb69e7.e5aea8","type":"pipe3","z":"d6419992.118b88","name":"","x":715.9826774597168,"y":3659.5556135177612,"wires":[["193d071c.3f3b69"]]},{"id":"193d071c.3f3b69","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":3722.6458773612976,"wires":[["28b0c9a0.3a5a16"]]},{"id":"28b0c9a0.3a5a16","type":"pipe2","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":3802.6458773612976,"wires":[["ec2b45b7.537f18"]]},{"id":"ec2b45b7.537f18","type":"pipe3","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":3882.6458773612976,"wires":[["f7b69172.fb074"]]},{"id":"f7b69172.fb074","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":3942.6458773612976,"wires":[["e38eee2b.5862c"]]},{"id":"e38eee2b.5862c","type":"pipe2","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4022.6458773612976,"wires":[["f730740b.9b9048"]]},{"id":"f730740b.9b9048","type":"pipe3","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4102.645877361298,"wires":[["451f479a.4c2938"]]},{"id":"451f479a.4c2938","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4182.645877361298,"wires":[["f8e53399.bf499"]]},{"id":"f8e53399.bf499","type":"pipe1","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":3548.4305849075317,"wires":[["dac0b3d1.f84b2"]]},{"id":"dac0b3d1.f84b2","type":"pipe2","z":"d6419992.118b88","name":"","x":949.9930534362793,"y":3606.586833000183,"wires":[["e8cc7a00.aef458"]]},{"id":"e8cc7a00.aef458","type":"pipe3","z":"d6419992.118b88","name":"","x":955.9826774597168,"y":3659.5556135177612,"wires":[["fbce97d8.8cbfa8"]]},{"id":"fbce97d8.8cbfa8","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":3722.6458773612976,"wires":[["defeb45a.fb02b8"]]},{"id":"defeb45a.fb02b8","type":"pipe2","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":3802.6458773612976,"wires":[["c93e1eba.31a32"]]},{"id":"c93e1eba.31a32","type":"pipe3","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":3882.6458773612976,"wires":[["97c62da0.a6307"]]},{"id":"97c62da0.a6307","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":3942.6458773612976,"wires":[["9e4c34ac.278fd8"]]},{"id":"9e4c34ac.278fd8","type":"pipe2","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4022.6458773612976,"wires":[["6b1d005.59f4d"]]},{"id":"6b1d005.59f4d","type":"pipe3","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4102.645877361298,"wires":[["714d700d.95ecc"]]},{"id":"714d700d.95ecc","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4182.645877361298,"wires":[["9276ae69.f5eaa"]]},{"id":"9276ae69.f5eaa","type":"pipe1","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":3548.4305849075317,"wires":[["a3f46f2d.6f66"]]},{"id":"a3f46f2d.6f66","type":"pipe2","z":"d6419992.118b88","name":"","x":1189.9930534362793,"y":3606.586833000183,"wires":[["31789eb.302f662"]]},{"id":"31789eb.302f662","type":"pipe3","z":"d6419992.118b88","name":"","x":1195.9826774597168,"y":3659.5556135177612,"wires":[["fd4f4ecd.5bd4e"]]},{"id":"fd4f4ecd.5bd4e","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":3722.6458773612976,"wires":[["28fb07ad.8936f8"]]},{"id":"28fb07ad.8936f8","type":"pipe2","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":3802.6458773612976,"wires":[["173d33ad.35e04c"]]},{"id":"173d33ad.35e04c","type":"pipe3","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":3882.6458773612976,"wires":[["fe3d75a8.a9b1a8"]]},{"id":"fe3d75a8.a9b1a8","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":3942.6458773612976,"wires":[["175ea3a6.45a17c"]]},{"id":"175ea3a6.45a17c","type":"pipe2","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4022.6458773612976,"wires":[["9d925d15.55e0f"]]},{"id":"9d925d15.55e0f","type":"pipe3","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4102.645877361298,"wires":[["65a10ebd.55aa6"]]},{"id":"65a10ebd.55aa6","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4182.645877361298,"wires":[["72e62874.e13ce8"]]},{"id":"72e62874.e13ce8","type":"pipe1","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":3548.4305849075317,"wires":[["f631399.275fbc8"]]},{"id":"f631399.275fbc8","type":"pipe2","z":"d6419992.118b88","name":"","x":1389.9930534362793,"y":3606.586833000183,"wires":[["4648a227.565dec"]]},{"id":"4648a227.565dec","type":"pipe3","z":"d6419992.118b88","name":"","x":1395.9826774597168,"y":3659.5556135177612,"wires":[["df787584.235f38"]]},{"id":"df787584.235f38","type":"pipe1","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":3722.6458773612976,"wires":[["bbef4431.f32238"]]},{"id":"bbef4431.f32238","type":"pipe2","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":3802.6458773612976,"wires":[["f274f7e5.f393b8"]]},{"id":"f274f7e5.f393b8","type":"pipe3","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":3882.6458773612976,"wires":[["eaa6d389.026bd"]]},{"id":"eaa6d389.026bd","type":"pipe1","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":3942.6458773612976,"wires":[["8c09092e.3524c8"]]},{"id":"8c09092e.3524c8","type":"pipe2","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4022.6458773612976,"wires":[["8c4be676.63e1d8"]]},{"id":"8c4be676.63e1d8","type":"pipe3","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4102.645877361298,"wires":[["f5973016.57c41"]]},{"id":"f5973016.57c41","type":"pipe1","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":4188.430584907532,"wires":[["642eda0b.006f94"]]},{"id":"642eda0b.006f94","type":"pipe1","z":"d6419992.118b88","name":"","x":418.9930534362793,"y":4334.215292453766,"wires":[["399908a1.9d8668"]]},{"id":"399908a1.9d8668","type":"pipe2","z":"d6419992.118b88","name":"","x":421,"y":4392.371540546417,"wires":[["21303d5d.e5f682"]]},{"id":"21303d5d.e5f682","type":"pipe3","z":"d6419992.118b88","name":"","x":426.9896240234375,"y":4445.340321063995,"wires":[["47d026c2.0c9a08"]]},{"id":"47d026c2.0c9a08","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4508.430584907532,"wires":[["b823cef0.586ba"]]},{"id":"b823cef0.586ba","type":"pipe2","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4588.430584907532,"wires":[["b3fa6d93.b636b"]]},{"id":"b3fa6d93.b636b","type":"pipe3","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4668.430584907532,"wires":[["470ba98d.72da88"]]},{"id":"470ba98d.72da88","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4728.430584907532,"wires":[["c7e905aa.61df78"]]},{"id":"c7e905aa.61df78","type":"pipe2","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4808.430584907532,"wires":[["1bb088c5.5eb5d7"]]},{"id":"1bb088c5.5eb5d7","type":"pipe3","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4888.430584907532,"wires":[["1b2dd678.e834da"]]},{"id":"1b2dd678.e834da","type":"pipe1","z":"d6419992.118b88","name":"","x":427.9861068725586,"y":4948.430584907532,"wires":[["f57c6c8f.1aa6"]]},{"id":"f57c6c8f.1aa6","type":"pipe1","z":"d6419992.118b88","name":"","x":707.9861068725586,"y":4328.430584907532,"wires":[["8126674c.048448"]]},{"id":"8126674c.048448","type":"pipe2","z":"d6419992.118b88","name":"","x":709.9930534362793,"y":4386.586833000183,"wires":[["57cf2061.d6f61"]]},{"id":"57cf2061.d6f61","type":"pipe3","z":"d6419992.118b88","name":"","x":715.9826774597168,"y":4439.555613517761,"wires":[["8dc9d132.f2009"]]},{"id":"8dc9d132.f2009","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4502.645877361298,"wires":[["53c01bd3.1370a4"]]},{"id":"53c01bd3.1370a4","type":"pipe2","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4582.645877361298,"wires":[["e3f104ba.95c448"]]},{"id":"e3f104ba.95c448","type":"pipe3","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4662.645877361298,"wires":[["78e384a9.f0fb2c"]]},{"id":"78e384a9.f0fb2c","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4722.645877361298,"wires":[["524b3a71.d1f764"]]},{"id":"524b3a71.d1f764","type":"pipe2","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4802.645877361298,"wires":[["6a97d520.b7a76c"]]},{"id":"6a97d520.b7a76c","type":"pipe3","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4882.645877361298,"wires":[["34e773c1.dfe2ec"]]},{"id":"34e773c1.dfe2ec","type":"pipe1","z":"d6419992.118b88","name":"","x":716.9791603088379,"y":4962.645877361298,"wires":[["b3ccc80d.59a678"]]},{"id":"b3ccc80d.59a678","type":"pipe1","z":"d6419992.118b88","name":"","x":947.9861068725586,"y":4328.430584907532,"wires":[["3a742f72.64982"]]},{"id":"3a742f72.64982","type":"pipe2","z":"d6419992.118b88","name":"","x":949.9930534362793,"y":4386.586833000183,"wires":[["90ba87e8.4f7738"]]},{"id":"90ba87e8.4f7738","type":"pipe3","z":"d6419992.118b88","name":"","x":955.9826774597168,"y":4439.555613517761,"wires":[["d3f9ab00.f482e8"]]},{"id":"d3f9ab00.f482e8","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4502.645877361298,"wires":[["cc66350c.859f58"]]},{"id":"cc66350c.859f58","type":"pipe2","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4582.645877361298,"wires":[["14c710c3.079d1f"]]},{"id":"14c710c3.079d1f","type":"pipe3","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4662.645877361298,"wires":[["8e53d495.bf8428"]]},{"id":"8e53d495.bf8428","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4722.645877361298,"wires":[["d5f070c2.67b2"]]},{"id":"d5f070c2.67b2","type":"pipe2","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4802.645877361298,"wires":[["f167204e.dabe"]]},{"id":"f167204e.dabe","type":"pipe3","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4882.645877361298,"wires":[["149059cb.13a1e6"]]},{"id":"149059cb.13a1e6","type":"pipe1","z":"d6419992.118b88","name":"","x":956.9791603088379,"y":4962.645877361298,"wires":[["5c569d48.f40cc4"]]},{"id":"5c569d48.f40cc4","type":"pipe1","z":"d6419992.118b88","name":"","x":1187.9861068725586,"y":4328.430584907532,"wires":[["343dc1c5.3b302e"]]},{"id":"343dc1c5.3b302e","type":"pipe2","z":"d6419992.118b88","name":"","x":1189.9930534362793,"y":4386.586833000183,"wires":[["600918ed.aa9958"]]},{"id":"600918ed.aa9958","type":"pipe3","z":"d6419992.118b88","name":"","x":1195.9826774597168,"y":4439.555613517761,"wires":[["98e6b7ae.c37498"]]},{"id":"98e6b7ae.c37498","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4502.645877361298,"wires":[["13be213.2271bdf"]]},{"id":"13be213.2271bdf","type":"pipe2","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4582.645877361298,"wires":[["e1077d16.58531"]]},{"id":"e1077d16.58531","type":"pipe3","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4662.645877361298,"wires":[["ff9f3637.0eea48"]]},{"id":"ff9f3637.0eea48","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4722.645877361298,"wires":[["6ad27f5b.72611"]]},{"id":"6ad27f5b.72611","type":"pipe2","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4802.645877361298,"wires":[["37d3a470.ce023c"]]},{"id":"37d3a470.ce023c","type":"pipe3","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4882.645877361298,"wires":[["50984686.3c7f88"]]},{"id":"50984686.3c7f88","type":"pipe1","z":"d6419992.118b88","name":"","x":1196.979160308838,"y":4962.645877361298,"wires":[["9e1c6ae9.148f78"]]},{"id":"9e1c6ae9.148f78","type":"pipe1","z":"d6419992.118b88","name":"","x":1387.9861068725586,"y":4328.430584907532,"wires":[["5f95405e.bee5"]]},{"id":"5f95405e.bee5","type":"pipe2","z":"d6419992.118b88","name":"","x":1389.9930534362793,"y":4386.586833000183,"wires":[["68ce71a8.ef8d6"]]},{"id":"68ce71a8.ef8d6","type":"pipe3","z":"d6419992.118b88","name":"","x":1395.9826774597168,"y":4439.555613517761,"wires":[["d5407a91.9f7668"]]},{"id":"d5407a91.9f7668","type":"pipe1","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4502.645877361298,"wires":[["86e79e5c.0caf3"]]},{"id":"86e79e5c.0caf3","type":"pipe2","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4582.645877361298,"wires":[["623228a3.80e508"]]},{"id":"623228a3.80e508","type":"pipe3","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4662.645877361298,"wires":[["4a67b2ab.f3b0ec"]]},{"id":"4a67b2ab.f3b0ec","type":"pipe1","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4722.645877361298,"wires":[["4746ca3f.289964"]]},{"id":"4746ca3f.289964","type":"pipe2","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4802.645877361298,"wires":[["a825b9a6.283b68"]]},{"id":"a825b9a6.283b68","type":"pipe3","z":"d6419992.118b88","name":"","x":1396.979160308838,"y":4882.645877361298,"wires":[["e8f184fb.542ba8"]]},{"id":"e8f184fb.542ba8","type":"pipe1","z":"d6419992.118b88","name":"","x":1378.9930534362793,"y":4974.215292453766,"wires":[["eb7c8a6e.88d1e8"]]},{"id":"eb7c8a6e.88d1e8","type":"pipe1","z":"d6419992.118b88","name":"","x":1698.9930534362793,"y":2734.215292453766,"wires":[["c5b3243a.a25d08"]]},{"id":"c5b3243a.a25d08","type":"pipe2","z":"d6419992.118b88","name":"","x":1701,"y":2792.3715405464172,"wires":[["95c6b61a.286688"]]},{"id":"95c6b61a.286688","type":"pipe3","z":"d6419992.118b88","name":"","x":1706.9896240234375,"y":2845.3403210639954,"wires":[["4c469bf6.414d34"]]},{"id":"4c469bf6.414d34","type":"pipe1","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":2908.4305849075317,"wires":[["99471faf.183af"]]},{"id":"99471faf.183af","type":"pipe2","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":2988.4305849075317,"wires":[["4c4e58e.d6b0fa8"]]},{"id":"4c4e58e.d6b0fa8","type":"pipe3","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":3068.4305849075317,"wires":[["25379686.38752a"]]},{"id":"25379686.38752a","type":"pipe1","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":3128.4305849075317,"wires":[["c2c26e4e.9c9d2"]]},{"id":"c2c26e4e.9c9d2","type":"pipe2","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":3208.4305849075317,"wires":[["8d68ae16.4ad3a"]]},{"id":"8d68ae16.4ad3a","type":"pipe3","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":3288.4305849075317,"wires":[["af6249b0.55d8a8"]]},{"id":"af6249b0.55d8a8","type":"pipe1","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":3348.4305849075317,"wires":[["a6270eee.68651"]]},{"id":"a6270eee.68651","type":"pipe1","z":"d6419992.118b88","name":"","x":1987.9861068725586,"y":2728.4305849075317,"wires":[["d63663b5.59c35"]]},{"id":"d63663b5.59c35","type":"pipe2","z":"d6419992.118b88","name":"","x":1989.9930534362793,"y":2786.586833000183,"wires":[["c90f34aa.2eede8"]]},{"id":"c90f34aa.2eede8","type":"pipe3","z":"d6419992.118b88","name":"","x":1995.9826774597168,"y":2839.5556135177612,"wires":[["5e1d5a29.20a264"]]},{"id":"5e1d5a29.20a264","type":"pipe1","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":2902.6458773612976,"wires":[["5f5fab7a.904d64"]]},{"id":"5f5fab7a.904d64","type":"pipe2","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":2982.6458773612976,"wires":[["7d5f1d0c.2e9ad4"]]},{"id":"7d5f1d0c.2e9ad4","type":"pipe3","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3062.6458773612976,"wires":[["579e0b74.142834"]]},{"id":"579e0b74.142834","type":"pipe1","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3122.6458773612976,"wires":[["580accf0.6b4774"]]},{"id":"580accf0.6b4774","type":"pipe2","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3202.6458773612976,"wires":[["c717a087.c4a2d"]]},{"id":"c717a087.c4a2d","type":"pipe3","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3282.6458773612976,"wires":[["fe9a11e3.a50eb"]]},{"id":"fe9a11e3.a50eb","type":"pipe1","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3362.6458773612976,"wires":[["35a6a62d.b73b6a"]]},{"id":"35a6a62d.b73b6a","type":"pipe1","z":"d6419992.118b88","name":"","x":2227.9861068725586,"y":2728.4305849075317,"wires":[["494fbe1b.03e93"]]},{"id":"494fbe1b.03e93","type":"pipe2","z":"d6419992.118b88","name":"","x":2229.9930534362793,"y":2786.586833000183,"wires":[["5c79d74c.727de8"]]},{"id":"5c79d74c.727de8","type":"pipe3","z":"d6419992.118b88","name":"","x":2235.982677459717,"y":2839.5556135177612,"wires":[["5ece1f70.0bd49"]]},{"id":"5ece1f70.0bd49","type":"pipe1","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":2902.6458773612976,"wires":[["27580331.572b8c"]]},{"id":"27580331.572b8c","type":"pipe2","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":2982.6458773612976,"wires":[["545b1359.8013cc"]]},{"id":"545b1359.8013cc","type":"pipe3","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3062.6458773612976,"wires":[["a26ceae7.eb5d28"]]},{"id":"a26ceae7.eb5d28","type":"pipe1","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3122.6458773612976,"wires":[["51a33c0f.013b94"]]},{"id":"51a33c0f.013b94","type":"pipe2","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3202.6458773612976,"wires":[["413c1bb5.6a6974"]]},{"id":"413c1bb5.6a6974","type":"pipe3","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3282.6458773612976,"wires":[["12780ad3.bdc945"]]},{"id":"12780ad3.bdc945","type":"pipe1","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3362.6458773612976,"wires":[["9421e58b.e5abc8"]]},{"id":"9421e58b.e5abc8","type":"pipe1","z":"d6419992.118b88","name":"","x":2467.9861068725586,"y":2728.4305849075317,"wires":[["2b92c356.ae3f6c"]]},{"id":"2b92c356.ae3f6c","type":"pipe2","z":"d6419992.118b88","name":"","x":2469.9930534362793,"y":2786.586833000183,"wires":[["85ddd7e2.52e1f8"]]},{"id":"85ddd7e2.52e1f8","type":"pipe3","z":"d6419992.118b88","name":"","x":2475.982677459717,"y":2839.5556135177612,"wires":[["b8a728c1.f4d338"]]},{"id":"b8a728c1.f4d338","type":"pipe1","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":2902.6458773612976,"wires":[["97be490e.1361b8"]]},{"id":"97be490e.1361b8","type":"pipe2","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":2982.6458773612976,"wires":[["81d4693b.da4668"]]},{"id":"81d4693b.da4668","type":"pipe3","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3062.6458773612976,"wires":[["b420ae6b.61b4f"]]},{"id":"b420ae6b.61b4f","type":"pipe1","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3122.6458773612976,"wires":[["31f06205.8cba8e"]]},{"id":"31f06205.8cba8e","type":"pipe2","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3202.6458773612976,"wires":[["71bbc8dd.f5b908"]]},{"id":"71bbc8dd.f5b908","type":"pipe3","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3282.6458773612976,"wires":[["dc4dbf45.b4796"]]},{"id":"dc4dbf45.b4796","type":"pipe1","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3362.6458773612976,"wires":[["d822bc9d.9bfbe"]]},{"id":"d822bc9d.9bfbe","type":"pipe1","z":"d6419992.118b88","name":"","x":2667.9861068725586,"y":2728.4305849075317,"wires":[["66b87695.9bc538"]]},{"id":"66b87695.9bc538","type":"pipe2","z":"d6419992.118b88","name":"","x":2669.9930534362793,"y":2786.586833000183,"wires":[["2dd7133b.a5ae8c"]]},{"id":"2dd7133b.a5ae8c","type":"pipe3","z":"d6419992.118b88","name":"","x":2675.982677459717,"y":2839.5556135177612,"wires":[["8409f874.bbb8a8"]]},{"id":"8409f874.bbb8a8","type":"pipe1","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":2902.6458773612976,"wires":[["37a00e37.917ae2"]]},{"id":"37a00e37.917ae2","type":"pipe2","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":2982.6458773612976,"wires":[["1b7cd251.1ae84e"]]},{"id":"1b7cd251.1ae84e","type":"pipe3","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":3062.6458773612976,"wires":[["685f050d.0df5dc"]]},{"id":"685f050d.0df5dc","type":"pipe1","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":3122.6458773612976,"wires":[["bbd83f1c.8bea5"]]},{"id":"bbd83f1c.8bea5","type":"pipe2","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":3202.6458773612976,"wires":[["a9133062.68657"]]},{"id":"a9133062.68657","type":"pipe3","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":3282.6458773612976,"wires":[["59f25a58.a67c24"]]},{"id":"59f25a58.a67c24","type":"pipe1","z":"d6419992.118b88","name":"","x":2667.9861068725586,"y":3368.4305849075317,"wires":[["6f0e7d7b.54b0f4"]]},{"id":"6f0e7d7b.54b0f4","type":"pipe1","z":"d6419992.118b88","name":"","x":1687.9861068725586,"y":3548.4305849075317,"wires":[["ab91cb56.08f588"]]},{"id":"ab91cb56.08f588","type":"pipe2","z":"d6419992.118b88","name":"","x":1709.9930534362793,"y":3606.586833000183,"wires":[["b7d47716.921428"]]},{"id":"b7d47716.921428","type":"pipe3","z":"d6419992.118b88","name":"","x":1715.9826774597168,"y":3659.5556135177612,"wires":[["bb230ea7.68a65"]]},{"id":"bb230ea7.68a65","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":3722.6458773612976,"wires":[["86065da.62bf5a"]]},{"id":"86065da.62bf5a","type":"pipe2","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":3802.6458773612976,"wires":[["e2ba289e.8148e8"]]},{"id":"e2ba289e.8148e8","type":"pipe3","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":3882.6458773612976,"wires":[["c09782a9.4383c"]]},{"id":"c09782a9.4383c","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":3942.6458773612976,"wires":[["3226365a.1e28ba"]]},{"id":"3226365a.1e28ba","type":"pipe2","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4022.6458773612976,"wires":[["4207f594.eaac7c"]]},{"id":"4207f594.eaac7c","type":"pipe3","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4102.645877361298,"wires":[["c491a.5ebed6e68"]]},{"id":"c491a.5ebed6e68","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4162.645877361298,"wires":[["468a22f8.678c4c"]]},{"id":"468a22f8.678c4c","type":"pipe1","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":3542.6458773612976,"wires":[["62580ec9.3a415"]]},{"id":"62580ec9.3a415","type":"pipe2","z":"d6419992.118b88","name":"","x":1998.9861068725586,"y":3600.802125453949,"wires":[["bc374f3f.54698"]]},{"id":"bc374f3f.54698","type":"pipe3","z":"d6419992.118b88","name":"","x":2004.975730895996,"y":3653.770905971527,"wires":[["6e8138c7.ba6418"]]},{"id":"6e8138c7.ba6418","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":3716.8611698150635,"wires":[["8a943e15.8c44e"]]},{"id":"8a943e15.8c44e","type":"pipe2","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":3796.8611698150635,"wires":[["a3dbd70d.0d8378"]]},{"id":"a3dbd70d.0d8378","type":"pipe3","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":3876.8611698150635,"wires":[["9fa7eeeb.9dc6e"]]},{"id":"9fa7eeeb.9dc6e","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":3936.8611698150635,"wires":[["d29cc859.a04568"]]},{"id":"d29cc859.a04568","type":"pipe2","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4016.8611698150635,"wires":[["f0ff957e.413df8"]]},{"id":"f0ff957e.413df8","type":"pipe3","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4096.8611698150635,"wires":[["d150c553.519708"]]},{"id":"d150c553.519708","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4176.8611698150635,"wires":[["1fe2287f.b3e598"]]},{"id":"1fe2287f.b3e598","type":"pipe1","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":3542.6458773612976,"wires":[["a45a1f.bc0215e"]]},{"id":"a45a1f.bc0215e","type":"pipe2","z":"d6419992.118b88","name":"","x":2238.9861068725586,"y":3600.802125453949,"wires":[["534c3a8.55dcac4"]]},{"id":"534c3a8.55dcac4","type":"pipe3","z":"d6419992.118b88","name":"","x":2244.975730895996,"y":3653.770905971527,"wires":[["85ce78f4.8836c8"]]},{"id":"85ce78f4.8836c8","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":3716.8611698150635,"wires":[["3fd88875.26b788"]]},{"id":"3fd88875.26b788","type":"pipe2","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":3796.8611698150635,"wires":[["dc9fadb4.92cae"]]},{"id":"dc9fadb4.92cae","type":"pipe3","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":3876.8611698150635,"wires":[["a641820b.54555"]]},{"id":"a641820b.54555","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":3936.8611698150635,"wires":[["d0d0aa76.0b27c8"]]},{"id":"d0d0aa76.0b27c8","type":"pipe2","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4016.8611698150635,"wires":[["507f2e4a.59669"]]},{"id":"507f2e4a.59669","type":"pipe3","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4096.8611698150635,"wires":[["3c54535c.6950fc"]]},{"id":"3c54535c.6950fc","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4176.8611698150635,"wires":[["2f966416.27c47c"]]},{"id":"2f966416.27c47c","type":"pipe1","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":3542.6458773612976,"wires":[["2128c1b1.c8d76e"]]},{"id":"2128c1b1.c8d76e","type":"pipe2","z":"d6419992.118b88","name":"","x":2478.9861068725586,"y":3600.802125453949,"wires":[["cc4971cf.02759"]]},{"id":"cc4971cf.02759","type":"pipe3","z":"d6419992.118b88","name":"","x":2484.975730895996,"y":3653.770905971527,"wires":[["ec640278.46b84"]]},{"id":"ec640278.46b84","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":3716.8611698150635,"wires":[["464b4041.6ae52"]]},{"id":"464b4041.6ae52","type":"pipe2","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":3796.8611698150635,"wires":[["5f20e5f4.1dfc0c"]]},{"id":"5f20e5f4.1dfc0c","type":"pipe3","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":3876.8611698150635,"wires":[["3d57a241.6b8ffe"]]},{"id":"3d57a241.6b8ffe","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":3936.8611698150635,"wires":[["86f56ba.a725998"]]},{"id":"86f56ba.a725998","type":"pipe2","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4016.8611698150635,"wires":[["52868917.916ed8"]]},{"id":"52868917.916ed8","type":"pipe3","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4096.8611698150635,"wires":[["6d1d453e.4d134c"]]},{"id":"6d1d453e.4d134c","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4176.8611698150635,"wires":[["310a7727.621cd8"]]},{"id":"310a7727.621cd8","type":"pipe1","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":3542.6458773612976,"wires":[["7241677.8cf6c98"]]},{"id":"7241677.8cf6c98","type":"pipe2","z":"d6419992.118b88","name":"","x":2678.9861068725586,"y":3600.802125453949,"wires":[["c0fa5e4f.087bf"]]},{"id":"c0fa5e4f.087bf","type":"pipe3","z":"d6419992.118b88","name":"","x":2684.975730895996,"y":3653.770905971527,"wires":[["93b75852.5df598"]]},{"id":"93b75852.5df598","type":"pipe1","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":3716.8611698150635,"wires":[["e8ae004b.e6049"]]},{"id":"e8ae004b.e6049","type":"pipe2","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":3796.8611698150635,"wires":[["452735d8.0dba9c"]]},{"id":"452735d8.0dba9c","type":"pipe3","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":3876.8611698150635,"wires":[["bbcb5ebd.94f52"]]},{"id":"bbcb5ebd.94f52","type":"pipe1","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":3936.8611698150635,"wires":[["7fa03ff2.d3f56"]]},{"id":"7fa03ff2.d3f56","type":"pipe2","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4016.8611698150635,"wires":[["ca957df3.e8c84"]]},{"id":"ca957df3.e8c84","type":"pipe3","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4096.8611698150635,"wires":[["6cd16258.a5ad4c"]]},{"id":"6cd16258.a5ad4c","type":"pipe1","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":4182.645877361298,"wires":[["f70a8329.2d97d"]]},{"id":"f70a8329.2d97d","type":"pipe1","z":"d6419992.118b88","name":"","x":1707.9861068725586,"y":4328.430584907532,"wires":[["407c1a76.09d404"]]},{"id":"407c1a76.09d404","type":"pipe2","z":"d6419992.118b88","name":"","x":1709.9930534362793,"y":4386.586833000183,"wires":[["653498be.86c498"]]},{"id":"653498be.86c498","type":"pipe3","z":"d6419992.118b88","name":"","x":1715.9826774597168,"y":4439.555613517761,"wires":[["85e0efbf.b3167"]]},{"id":"85e0efbf.b3167","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4502.645877361298,"wires":[["c8bc6cd1.49d3e"]]},{"id":"c8bc6cd1.49d3e","type":"pipe2","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4582.645877361298,"wires":[["7677c66a.425278"]]},{"id":"7677c66a.425278","type":"pipe3","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4662.645877361298,"wires":[["85211e30.dc15a"]]},{"id":"85211e30.dc15a","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4722.645877361298,"wires":[["5114758a.88082c"]]},{"id":"5114758a.88082c","type":"pipe2","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4802.645877361298,"wires":[["356184f7.9908ec"]]},{"id":"356184f7.9908ec","type":"pipe3","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4882.645877361298,"wires":[["87db27b.12ebed8"]]},{"id":"87db27b.12ebed8","type":"pipe1","z":"d6419992.118b88","name":"","x":1716.979160308838,"y":4942.645877361298,"wires":[["8e5b3978.763638"]]},{"id":"8e5b3978.763638","type":"pipe1","z":"d6419992.118b88","name":"","x":1996.979160308838,"y":4322.645877361298,"wires":[["576f89a7.1f80e8"]]},{"id":"576f89a7.1f80e8","type":"pipe2","z":"d6419992.118b88","name":"","x":1998.9861068725586,"y":4380.802125453949,"wires":[["21d99cc4.613e34"]]},{"id":"21d99cc4.613e34","type":"pipe3","z":"d6419992.118b88","name":"","x":2004.975730895996,"y":4433.770905971527,"wires":[["14764c93.dcc2b3"]]},{"id":"14764c93.dcc2b3","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4496.8611698150635,"wires":[["48c84936.7ac5e8"]]},{"id":"48c84936.7ac5e8","type":"pipe2","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4576.8611698150635,"wires":[["845b9a62.d8f6d8"]]},{"id":"845b9a62.d8f6d8","type":"pipe3","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4656.8611698150635,"wires":[["2b7f2c1c.ed3204"]]},{"id":"2b7f2c1c.ed3204","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4716.8611698150635,"wires":[["66a49c79.6b2a24"]]},{"id":"66a49c79.6b2a24","type":"pipe2","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4796.8611698150635,"wires":[["c06faf05.31e2e"]]},{"id":"c06faf05.31e2e","type":"pipe3","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4876.8611698150635,"wires":[["c7a0fe1f.01462"]]},{"id":"c7a0fe1f.01462","type":"pipe1","z":"d6419992.118b88","name":"","x":2005.9722137451172,"y":4956.8611698150635,"wires":[["b33dd29f.44f6f"]]},{"id":"b33dd29f.44f6f","type":"pipe1","z":"d6419992.118b88","name":"","x":2236.979160308838,"y":4322.645877361298,"wires":[["adb6d43.6601f28"]]},{"id":"adb6d43.6601f28","type":"pipe2","z":"d6419992.118b88","name":"","x":2238.9861068725586,"y":4380.802125453949,"wires":[["afd5738c.5413e"]]},{"id":"afd5738c.5413e","type":"pipe3","z":"d6419992.118b88","name":"","x":2244.975730895996,"y":4433.770905971527,"wires":[["4af2b530.47a04c"]]},{"id":"4af2b530.47a04c","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4496.8611698150635,"wires":[["9ce987cf.8cc7a8"]]},{"id":"9ce987cf.8cc7a8","type":"pipe2","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4576.8611698150635,"wires":[["3a4443b4.40c17c"]]},{"id":"3a4443b4.40c17c","type":"pipe3","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4656.8611698150635,"wires":[["f783b820.7f1358"]]},{"id":"f783b820.7f1358","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4716.8611698150635,"wires":[["55f60480.2a3e2c"]]},{"id":"55f60480.2a3e2c","type":"pipe2","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4796.8611698150635,"wires":[["ae6af8a7.86a2e8"]]},{"id":"ae6af8a7.86a2e8","type":"pipe3","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4876.8611698150635,"wires":[["a8d4e61d.a563c8"]]},{"id":"a8d4e61d.a563c8","type":"pipe1","z":"d6419992.118b88","name":"","x":2245.972213745117,"y":4956.8611698150635,"wires":[["ca322f1a.9995e"]]},{"id":"ca322f1a.9995e","type":"pipe1","z":"d6419992.118b88","name":"","x":2476.979160308838,"y":4322.645877361298,"wires":[["e4f3e992.a0e2a8"]]},{"id":"e4f3e992.a0e2a8","type":"pipe2","z":"d6419992.118b88","name":"","x":2478.9861068725586,"y":4380.802125453949,"wires":[["85bcbad0.9ed1c8"]]},{"id":"85bcbad0.9ed1c8","type":"pipe3","z":"d6419992.118b88","name":"","x":2484.975730895996,"y":4433.770905971527,"wires":[["ba21c22e.71d36"]]},{"id":"ba21c22e.71d36","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4496.8611698150635,"wires":[["2ba1e60.0726d1a"]]},{"id":"2ba1e60.0726d1a","type":"pipe2","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4576.8611698150635,"wires":[["e974dcbe.ea466"]]},{"id":"e974dcbe.ea466","type":"pipe3","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4656.8611698150635,"wires":[["3dcbc9b2.c00446"]]},{"id":"3dcbc9b2.c00446","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4716.8611698150635,"wires":[["f88bb3bf.b4102"]]},{"id":"f88bb3bf.b4102","type":"pipe2","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4796.8611698150635,"wires":[["c44f0e13.4bcbf"]]},{"id":"c44f0e13.4bcbf","type":"pipe3","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4876.8611698150635,"wires":[["520e1ef1.8fabf"]]},{"id":"520e1ef1.8fabf","type":"pipe1","z":"d6419992.118b88","name":"","x":2485.972213745117,"y":4956.8611698150635,"wires":[["de9c9693.bae638"]]},{"id":"de9c9693.bae638","type":"pipe1","z":"d6419992.118b88","name":"","x":2676.979160308838,"y":4322.645877361298,"wires":[["28d65941.9f07a6"]]},{"id":"28d65941.9f07a6","type":"pipe2","z":"d6419992.118b88","name":"","x":2678.9861068725586,"y":4380.802125453949,"wires":[["3dee0813.ecd968"]]},{"id":"3dee0813.ecd968","type":"pipe3","z":"d6419992.118b88","name":"","x":2684.975730895996,"y":4433.770905971527,"wires":[["de9db7a2.7e9fc8"]]},{"id":"de9db7a2.7e9fc8","type":"pipe1","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4496.8611698150635,"wires":[["be8cc65e.43c658"]]},{"id":"be8cc65e.43c658","type":"pipe2","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4576.8611698150635,"wires":[["13f9b2ac.70636d"]]},{"id":"13f9b2ac.70636d","type":"pipe3","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4656.8611698150635,"wires":[["c2078ce7.f2185"]]},{"id":"c2078ce7.f2185","type":"pipe1","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4716.8611698150635,"wires":[["b7f55dec.abd66"]]},{"id":"b7f55dec.abd66","type":"pipe2","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4796.8611698150635,"wires":[["294bc257.ea916e"]]},{"id":"294bc257.ea916e","type":"pipe3","z":"d6419992.118b88","name":"","x":2685.972213745117,"y":4876.8611698150635,"wires":[["f2a19cfc.89339"]]},{"id":"f2a19cfc.89339","type":"pipe1","z":"d6419992.118b88","name":"","x":2678.9930534362793,"y":4954.215292453766,"wires":[["93d5af15.a6ab9"]]},{"id":"93d5af15.a6ab9","type":"pipe1","z":"d6419992.118b88","name":"","x":2990,"y":400,"wires":[["bbe38664.ea7398"]]},{"id":"bbe38664.ea7398","type":"pipe2","z":"d6419992.118b88","name":"","x":2992.0069465637207,"y":458.15624809265137,"wires":[["d1eea2b.417406"]]},{"id":"d1eea2b.417406","type":"pipe3","z":"d6419992.118b88","name":"","x":2997.996570587158,"y":511.1250286102295,"wires":[["96273e6d.c9599"]]},{"id":"96273e6d.c9599","type":"pipe1","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":574.2152924537659,"wires":[["85e515f5.34e7a8"]]},{"id":"85e515f5.34e7a8","type":"pipe2","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":654.2152924537659,"wires":[["4b013d3e.ad8634"]]},{"id":"4b013d3e.ad8634","type":"pipe3","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":734.2152924537659,"wires":[["a4aa5042.9e8c5"]]},{"id":"a4aa5042.9e8c5","type":"pipe1","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":794.2152924537659,"wires":[["5c422c11.90da64"]]},{"id":"5c422c11.90da64","type":"pipe2","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":874.2152924537659,"wires":[["4e16ce52.516b5"]]},{"id":"4e16ce52.516b5","type":"pipe3","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":954.2152924537659,"wires":[["167b7d6e.cf95c3"]]},{"id":"167b7d6e.cf95c3","type":"pipe1","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":1014.2152924537659,"wires":[["3bbf8b29.86c9f4"]]},{"id":"3bbf8b29.86c9f4","type":"pipe1","z":"d6419992.118b88","name":"","x":3278.9930534362793,"y":394.21529245376587,"wires":[["739c615b.7db98"]]},{"id":"739c615b.7db98","type":"pipe2","z":"d6419992.118b88","name":"","x":3281,"y":452.37154054641724,"wires":[["7d9ebd8c.88dbf4"]]},{"id":"7d9ebd8c.88dbf4","type":"pipe3","z":"d6419992.118b88","name":"","x":3286.9896240234375,"y":505.34032106399536,"wires":[["37e48595.8055aa"]]},{"id":"37e48595.8055aa","type":"pipe1","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":568.4305849075317,"wires":[["9e062046.3bb5d"]]},{"id":"9e062046.3bb5d","type":"pipe2","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":648.4305849075317,"wires":[["c8f596b8.4b8cb8"]]},{"id":"c8f596b8.4b8cb8","type":"pipe3","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":728.4305849075317,"wires":[["60d1ce74.79046"]]},{"id":"60d1ce74.79046","type":"pipe1","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":788.4305849075317,"wires":[["4680db23.118444"]]},{"id":"4680db23.118444","type":"pipe2","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":868.4305849075317,"wires":[["cf0baf4a.ff959"]]},{"id":"cf0baf4a.ff959","type":"pipe3","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":948.4305849075317,"wires":[["92edde2e.c6d2a"]]},{"id":"92edde2e.c6d2a","type":"pipe1","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":1028.4305849075317,"wires":[["cc25f034.78c53"]]},{"id":"cc25f034.78c53","type":"pipe1","z":"d6419992.118b88","name":"","x":3518.9930534362793,"y":394.21529245376587,"wires":[["601b7a9.7091584"]]},{"id":"601b7a9.7091584","type":"pipe2","z":"d6419992.118b88","name":"","x":3521,"y":452.37154054641724,"wires":[["60341dc5.305934"]]},{"id":"60341dc5.305934","type":"pipe3","z":"d6419992.118b88","name":"","x":3526.9896240234375,"y":505.34032106399536,"wires":[["970032a.cd04cd"]]},{"id":"970032a.cd04cd","type":"pipe1","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":568.4305849075317,"wires":[["5f59667d.3f7ff8"]]},{"id":"5f59667d.3f7ff8","type":"pipe2","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":648.4305849075317,"wires":[["a78facea.e96ed"]]},{"id":"a78facea.e96ed","type":"pipe3","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":728.4305849075317,"wires":[["bdf45272.dfacb"]]},{"id":"bdf45272.dfacb","type":"pipe1","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":788.4305849075317,"wires":[["8899891c.20bdb8"]]},{"id":"8899891c.20bdb8","type":"pipe2","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":868.4305849075317,"wires":[["8cea367a.c1bf88"]]},{"id":"8cea367a.c1bf88","type":"pipe3","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":948.4305849075317,"wires":[["4813df87.52a93"]]},{"id":"4813df87.52a93","type":"pipe1","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":1028.4305849075317,"wires":[["6a88a3a2.747c1c"]]},{"id":"6a88a3a2.747c1c","type":"pipe1","z":"d6419992.118b88","name":"","x":3758.9930534362793,"y":394.21529245376587,"wires":[["8685614c.37d5f"]]},{"id":"8685614c.37d5f","type":"pipe2","z":"d6419992.118b88","name":"","x":3761,"y":452.37154054641724,"wires":[["f37f35b0.734d98"]]},{"id":"f37f35b0.734d98","type":"pipe3","z":"d6419992.118b88","name":"","x":3766.9896240234375,"y":505.34032106399536,"wires":[["6332d405.d7f6ec"]]},{"id":"6332d405.d7f6ec","type":"pipe1","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":568.4305849075317,"wires":[["63386816.e6f4c8"]]},{"id":"63386816.e6f4c8","type":"pipe2","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":648.4305849075317,"wires":[["c0f40080.3f88b"]]},{"id":"c0f40080.3f88b","type":"pipe3","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":728.4305849075317,"wires":[["83c8deb1.e5437"]]},{"id":"83c8deb1.e5437","type":"pipe1","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":788.4305849075317,"wires":[["631f18b8.c41e88"]]},{"id":"631f18b8.c41e88","type":"pipe2","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":868.4305849075317,"wires":[["385903ac.04d35c"]]},{"id":"385903ac.04d35c","type":"pipe3","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":948.4305849075317,"wires":[["a38526f.dd082d8"]]},{"id":"a38526f.dd082d8","type":"pipe1","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":1028.4305849075317,"wires":[["b962e7ca.fdc948"]]},{"id":"b962e7ca.fdc948","type":"pipe1","z":"d6419992.118b88","name":"","x":3958.9930534362793,"y":394.21529245376587,"wires":[["77b99d50.3172d4"]]},{"id":"77b99d50.3172d4","type":"pipe2","z":"d6419992.118b88","name":"","x":3961,"y":452.37154054641724,"wires":[["22f2ef19.8b9f2"]]},{"id":"22f2ef19.8b9f2","type":"pipe3","z":"d6419992.118b88","name":"","x":3966.9896240234375,"y":505.34032106399536,"wires":[["484db2f.363a64c"]]},{"id":"484db2f.363a64c","type":"pipe1","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":568.4305849075317,"wires":[["2c09c691.d185ba"]]},{"id":"2c09c691.d185ba","type":"pipe2","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":648.4305849075317,"wires":[["afc909ad.3affe8"]]},{"id":"afc909ad.3affe8","type":"pipe3","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":728.4305849075317,"wires":[["ce678338.4ca37"]]},{"id":"ce678338.4ca37","type":"pipe1","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":788.4305849075317,"wires":[["5a2fa381.bcd9fc"]]},{"id":"5a2fa381.bcd9fc","type":"pipe2","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":868.4305849075317,"wires":[["60f0c1e2.6b31a"]]},{"id":"60f0c1e2.6b31a","type":"pipe3","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":948.4305849075317,"wires":[["6184f817.67c588"]]},{"id":"6184f817.67c588","type":"pipe1","z":"d6419992.118b88","name":"","x":3958.9930534362793,"y":1034.2152924537659,"wires":[["9ba53a20.f924d8"]]},{"id":"9ba53a20.f924d8","type":"pipe1","z":"d6419992.118b88","name":"","x":2978.9930534362793,"y":1214.2152924537659,"wires":[["bd0a28ec.429b88"]]},{"id":"bd0a28ec.429b88","type":"pipe2","z":"d6419992.118b88","name":"","x":3001,"y":1272.3715405464172,"wires":[["22f551f0.85823e"]]},{"id":"22f551f0.85823e","type":"pipe3","z":"d6419992.118b88","name":"","x":3006.9896240234375,"y":1325.3403210639954,"wires":[["92ee91a7.8b3ec"]]},{"id":"92ee91a7.8b3ec","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1388.4305849075317,"wires":[["5c145ce7.997924"]]},{"id":"5c145ce7.997924","type":"pipe2","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1468.4305849075317,"wires":[["5d80ad5c.56ce94"]]},{"id":"5d80ad5c.56ce94","type":"pipe3","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1548.4305849075317,"wires":[["91ab095d.805138"]]},{"id":"91ab095d.805138","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1608.4305849075317,"wires":[["304dcc00.f15f34"]]},{"id":"304dcc00.f15f34","type":"pipe2","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1688.4305849075317,"wires":[["ae52bfab.a9014"]]},{"id":"ae52bfab.a9014","type":"pipe3","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1768.4305849075317,"wires":[["2fe4595e.513bb6"]]},{"id":"2fe4595e.513bb6","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":1828.4305849075317,"wires":[["3db11379.c3ec3c"]]},{"id":"3db11379.c3ec3c","type":"pipe1","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":1208.4305849075317,"wires":[["c7b04f94.d56ee"]]},{"id":"c7b04f94.d56ee","type":"pipe2","z":"d6419992.118b88","name":"","x":3289.9930534362793,"y":1266.586833000183,"wires":[["9e337ab0.0210d8"]]},{"id":"9e337ab0.0210d8","type":"pipe3","z":"d6419992.118b88","name":"","x":3295.982677459717,"y":1319.5556135177612,"wires":[["45643ea3.298"]]},{"id":"45643ea3.298","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1382.6458773612976,"wires":[["8218dc3e.bd3ee"]]},{"id":"8218dc3e.bd3ee","type":"pipe2","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1462.6458773612976,"wires":[["313dca14.2e9916"]]},{"id":"313dca14.2e9916","type":"pipe3","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1542.6458773612976,"wires":[["e56219d1.860718"]]},{"id":"e56219d1.860718","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1602.6458773612976,"wires":[["e34da8a1.69cb58"]]},{"id":"e34da8a1.69cb58","type":"pipe2","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1682.6458773612976,"wires":[["f236182c.6ad9c8"]]},{"id":"f236182c.6ad9c8","type":"pipe3","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1762.6458773612976,"wires":[["641f1daa.057b44"]]},{"id":"641f1daa.057b44","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":1842.6458773612976,"wires":[["2256d498.b895dc"]]},{"id":"2256d498.b895dc","type":"pipe1","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":1208.4305849075317,"wires":[["6e217b9c.8b1e34"]]},{"id":"6e217b9c.8b1e34","type":"pipe2","z":"d6419992.118b88","name":"","x":3529.9930534362793,"y":1266.586833000183,"wires":[["77da91e4.eb8b5"]]},{"id":"77da91e4.eb8b5","type":"pipe3","z":"d6419992.118b88","name":"","x":3535.982677459717,"y":1319.5556135177612,"wires":[["c86b1a71.3310c8"]]},{"id":"c86b1a71.3310c8","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1382.6458773612976,"wires":[["f2c322b4.47562"]]},{"id":"f2c322b4.47562","type":"pipe2","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1462.6458773612976,"wires":[["c02b314a.8745b"]]},{"id":"c02b314a.8745b","type":"pipe3","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1542.6458773612976,"wires":[["f7d7adb5.5cba1"]]},{"id":"f7d7adb5.5cba1","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1602.6458773612976,"wires":[["9d48bb54.993d18"]]},{"id":"9d48bb54.993d18","type":"pipe2","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1682.6458773612976,"wires":[["7e8bedce.467234"]]},{"id":"7e8bedce.467234","type":"pipe3","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1762.6458773612976,"wires":[["7c8504c1.7952cc"]]},{"id":"7c8504c1.7952cc","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":1842.6458773612976,"wires":[["c1437c79.34209"]]},{"id":"c1437c79.34209","type":"pipe1","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":1208.4305849075317,"wires":[["242d5848.d012d8"]]},{"id":"242d5848.d012d8","type":"pipe2","z":"d6419992.118b88","name":"","x":3769.9930534362793,"y":1266.586833000183,"wires":[["85974455.fbc1a8"]]},{"id":"85974455.fbc1a8","type":"pipe3","z":"d6419992.118b88","name":"","x":3775.982677459717,"y":1319.5556135177612,"wires":[["5daff1fd.a4dae"]]},{"id":"5daff1fd.a4dae","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1382.6458773612976,"wires":[["40d5f0a7.f8da9"]]},{"id":"40d5f0a7.f8da9","type":"pipe2","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1462.6458773612976,"wires":[["bd451736.87fa18"]]},{"id":"bd451736.87fa18","type":"pipe3","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1542.6458773612976,"wires":[["8a2f37d6.0bcbd8"]]},{"id":"8a2f37d6.0bcbd8","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1602.6458773612976,"wires":[["f2ab6f2a.a86a3"]]},{"id":"f2ab6f2a.a86a3","type":"pipe2","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1682.6458773612976,"wires":[["af70c55.57c8a38"]]},{"id":"af70c55.57c8a38","type":"pipe3","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1762.6458773612976,"wires":[["c3cc1b61.3e9e98"]]},{"id":"c3cc1b61.3e9e98","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":1842.6458773612976,"wires":[["a6849fda.1a70a"]]},{"id":"a6849fda.1a70a","type":"pipe1","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":1208.4305849075317,"wires":[["7130cf9c.3fffd"]]},{"id":"7130cf9c.3fffd","type":"pipe2","z":"d6419992.118b88","name":"","x":3969.9930534362793,"y":1266.586833000183,"wires":[["78364459.d063ac"]]},{"id":"78364459.d063ac","type":"pipe3","z":"d6419992.118b88","name":"","x":3975.982677459717,"y":1319.5556135177612,"wires":[["68a37343.c7ab1c"]]},{"id":"68a37343.c7ab1c","type":"pipe1","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1382.6458773612976,"wires":[["ab466fb4.81e"]]},{"id":"ab466fb4.81e","type":"pipe2","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1462.6458773612976,"wires":[["7a1375b6.18d8bc"]]},{"id":"7a1375b6.18d8bc","type":"pipe3","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1542.6458773612976,"wires":[["65cf213d.00611"]]},{"id":"65cf213d.00611","type":"pipe1","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1602.6458773612976,"wires":[["64eb153c.76196c"]]},{"id":"64eb153c.76196c","type":"pipe2","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1682.6458773612976,"wires":[["1924a372.9b08bd"]]},{"id":"1924a372.9b08bd","type":"pipe3","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":1762.6458773612976,"wires":[["5b72c552.67852c"]]},{"id":"5b72c552.67852c","type":"pipe1","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":1848.4305849075317,"wires":[["d2c60427.192db8"]]},{"id":"d2c60427.192db8","type":"pipe1","z":"d6419992.118b88","name":"","x":2998.9930534362793,"y":1994.2152924537659,"wires":[["3dc66f5.f37059"]]},{"id":"3dc66f5.f37059","type":"pipe2","z":"d6419992.118b88","name":"","x":3001,"y":2052.3715405464172,"wires":[["b80d28f4.cd8e98"]]},{"id":"b80d28f4.cd8e98","type":"pipe3","z":"d6419992.118b88","name":"","x":3006.9896240234375,"y":2105.3403210639954,"wires":[["b8810e04.dd8e4"]]},{"id":"b8810e04.dd8e4","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2168.4305849075317,"wires":[["a392173e.597838"]]},{"id":"a392173e.597838","type":"pipe2","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2248.4305849075317,"wires":[["935cb92f.b58a78"]]},{"id":"935cb92f.b58a78","type":"pipe3","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2328.4305849075317,"wires":[["e3c0dee3.375fa"]]},{"id":"e3c0dee3.375fa","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2388.4305849075317,"wires":[["1ee275da.1ea62a"]]},{"id":"1ee275da.1ea62a","type":"pipe2","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2468.4305849075317,"wires":[["5080e658.450458"]]},{"id":"5080e658.450458","type":"pipe3","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2548.4305849075317,"wires":[["9a5158e3.ad9b68"]]},{"id":"9a5158e3.ad9b68","type":"pipe1","z":"d6419992.118b88","name":"","x":3007.9861068725586,"y":2608.4305849075317,"wires":[["8801857a.7e73e8"]]},{"id":"8801857a.7e73e8","type":"pipe1","z":"d6419992.118b88","name":"","x":3287.9861068725586,"y":1988.4305849075317,"wires":[["3f3f7c6a.6b2574"]]},{"id":"3f3f7c6a.6b2574","type":"pipe2","z":"d6419992.118b88","name":"","x":3289.9930534362793,"y":2046.586833000183,"wires":[["55b90b96.e1cb74"]]},{"id":"55b90b96.e1cb74","type":"pipe3","z":"d6419992.118b88","name":"","x":3295.982677459717,"y":2099.5556135177612,"wires":[["f660b8bb.3bde38"]]},{"id":"f660b8bb.3bde38","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2162.6458773612976,"wires":[["a655b7f8.9a8288"]]},{"id":"a655b7f8.9a8288","type":"pipe2","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2242.6458773612976,"wires":[["b425cbef.5efe08"]]},{"id":"b425cbef.5efe08","type":"pipe3","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2322.6458773612976,"wires":[["761a3fbb.9b7fb"]]},{"id":"761a3fbb.9b7fb","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2382.6458773612976,"wires":[["fc73ea78.52d5c8"]]},{"id":"fc73ea78.52d5c8","type":"pipe2","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2462.6458773612976,"wires":[["24d590c1.9dd0b"]]},{"id":"24d590c1.9dd0b","type":"pipe3","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2542.6458773612976,"wires":[["2fc11009.bf919"]]},{"id":"2fc11009.bf919","type":"pipe1","z":"d6419992.118b88","name":"","x":3296.979160308838,"y":2622.6458773612976,"wires":[["66918d41.2a9504"]]},{"id":"66918d41.2a9504","type":"pipe1","z":"d6419992.118b88","name":"","x":3527.9861068725586,"y":1988.4305849075317,"wires":[["c566e76b.c4b718"]]},{"id":"c566e76b.c4b718","type":"pipe2","z":"d6419992.118b88","name":"","x":3529.9930534362793,"y":2046.586833000183,"wires":[["b379a565.de0198"]]},{"id":"b379a565.de0198","type":"pipe3","z":"d6419992.118b88","name":"","x":3535.982677459717,"y":2099.5556135177612,"wires":[["31455478.5946bc"]]},{"id":"31455478.5946bc","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2162.6458773612976,"wires":[["33998b53.079a64"]]},{"id":"33998b53.079a64","type":"pipe2","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2242.6458773612976,"wires":[["a6d937bf.2a2518"]]},{"id":"a6d937bf.2a2518","type":"pipe3","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2322.6458773612976,"wires":[["26e9e3b3.40e79c"]]},{"id":"26e9e3b3.40e79c","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2382.6458773612976,"wires":[["1385c370.b9848d"]]},{"id":"1385c370.b9848d","type":"pipe2","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2462.6458773612976,"wires":[["579d50d9.3cfca"]]},{"id":"579d50d9.3cfca","type":"pipe3","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2542.6458773612976,"wires":[["9607d0b0.44c53"]]},{"id":"9607d0b0.44c53","type":"pipe1","z":"d6419992.118b88","name":"","x":3536.979160308838,"y":2622.6458773612976,"wires":[["86da9489.cc38a8"]]},{"id":"86da9489.cc38a8","type":"pipe1","z":"d6419992.118b88","name":"","x":3767.9861068725586,"y":1988.4305849075317,"wires":[["550f6b47.ab51f4"]]},{"id":"550f6b47.ab51f4","type":"pipe2","z":"d6419992.118b88","name":"","x":3769.9930534362793,"y":2046.586833000183,"wires":[["a0c6f615.028358"]]},{"id":"a0c6f615.028358","type":"pipe3","z":"d6419992.118b88","name":"","x":3775.982677459717,"y":2099.5556135177612,"wires":[["b58166b3.7ebdb8"]]},{"id":"b58166b3.7ebdb8","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2162.6458773612976,"wires":[["f01e7c31.4db7e"]]},{"id":"f01e7c31.4db7e","type":"pipe2","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2242.6458773612976,"wires":[["40b781f1.48721"]]},{"id":"40b781f1.48721","type":"pipe3","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2322.6458773612976,"wires":[["ddb20ade.83a818"]]},{"id":"ddb20ade.83a818","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2382.6458773612976,"wires":[["a451aa6d.d9cdf8"]]},{"id":"a451aa6d.d9cdf8","type":"pipe2","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2462.6458773612976,"wires":[["181fe0ab.b9af2f"]]},{"id":"181fe0ab.b9af2f","type":"pipe3","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2542.6458773612976,"wires":[["a1a5eaa1.fb7d38"]]},{"id":"a1a5eaa1.fb7d38","type":"pipe1","z":"d6419992.118b88","name":"","x":3776.979160308838,"y":2622.6458773612976,"wires":[["caa61e7b.17bcc"]]},{"id":"caa61e7b.17bcc","type":"pipe1","z":"d6419992.118b88","name":"","x":3967.9861068725586,"y":1988.4305849075317,"wires":[["c2c5f5b8.3f8b48"]]},{"id":"c2c5f5b8.3f8b48","type":"pipe2","z":"d6419992.118b88","name":"","x":3969.9930534362793,"y":2046.586833000183,"wires":[["3b2c4e8c.a3eb52"]]},{"id":"3b2c4e8c.a3eb52","type":"pipe3","z":"d6419992.118b88","name":"","x":3975.982677459717,"y":2099.5556135177612,"wires":[["3263f0ae.6fe84"]]},{"id":"3263f0ae.6fe84","type":"pipe1","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2162.6458773612976,"wires":[["b5508275.a345f"]]},{"id":"b5508275.a345f","type":"pipe2","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2242.6458773612976,"wires":[["1fef9927.127907"]]},{"id":"1fef9927.127907","type":"pipe3","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2322.6458773612976,"wires":[["3f29fa4f.c56776"]]},{"id":"3f29fa4f.c56776","type":"pipe1","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2382.6458773612976,"wires":[["bda6b8c9.6f17f8"]]},{"id":"bda6b8c9.6f17f8","type":"pipe2","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2462.6458773612976,"wires":[["86632df3.44108"]]},{"id":"86632df3.44108","type":"pipe3","z":"d6419992.118b88","name":"","x":3976.979160308838,"y":2542.6458773612976,"wires":[["c13805f4.2d8398"]]},{"id":"c13805f4.2d8398","type":"pipe1","z":"d6419992.118b88","name":"","x":3950,"y":2620,"wires":[["46bed1f4.8fb1e"]]},{"id":"46bed1f4.8fb1e","type":"pipe1","z":"d6419992.118b88","name":"","x":2958.9930534362793,"y":2754.215292453766,"wires":[["db46664c.257038"]]},{"id":"db46664c.257038","type":"pipe2","z":"d6419992.118b88","name":"","x":2961,"y":2812.3715405464172,"wires":[["4d337b34.4ea3b4"]]},{"id":"4d337b34.4ea3b4","type":"pipe3","z":"d6419992.118b88","name":"","x":2966.9896240234375,"y":2865.3403210639954,"wires":[["a9810499.b81a78"]]},{"id":"a9810499.b81a78","type":"pipe1","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":2928.4305849075317,"wires":[["a975baa0.8f5c38"]]},{"id":"a975baa0.8f5c38","type":"pipe2","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3008.4305849075317,"wires":[["82ee8ef4.a7ee3"]]},{"id":"82ee8ef4.a7ee3","type":"pipe3","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3088.4305849075317,"wires":[["4b05b2f8.84027c"]]},{"id":"4b05b2f8.84027c","type":"pipe1","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3148.4305849075317,"wires":[["856ca7f.99cd358"]]},{"id":"856ca7f.99cd358","type":"pipe2","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3228.4305849075317,"wires":[["263f5fcc.40c4b"]]},{"id":"263f5fcc.40c4b","type":"pipe3","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3308.4305849075317,"wires":[["5c798f86.2dc68"]]},{"id":"5c798f86.2dc68","type":"pipe1","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":3368.4305849075317,"wires":[["d69560cd.5d636"]]},{"id":"d69560cd.5d636","type":"pipe1","z":"d6419992.118b88","name":"","x":3247.9861068725586,"y":2748.4305849075317,"wires":[["5a606d4b.2977d4"]]},{"id":"5a606d4b.2977d4","type":"pipe2","z":"d6419992.118b88","name":"","x":3249.9930534362793,"y":2806.586833000183,"wires":[["3ca71312.ff433c"]]},{"id":"3ca71312.ff433c","type":"pipe3","z":"d6419992.118b88","name":"","x":3255.982677459717,"y":2859.5556135177612,"wires":[["250bec71.33a764"]]},{"id":"250bec71.33a764","type":"pipe1","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":2922.6458773612976,"wires":[["d682741f.855218"]]},{"id":"d682741f.855218","type":"pipe2","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3002.6458773612976,"wires":[["864efeb3.f639a"]]},{"id":"864efeb3.f639a","type":"pipe3","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3082.6458773612976,"wires":[["e8b974b.c986688"]]},{"id":"e8b974b.c986688","type":"pipe1","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3142.6458773612976,"wires":[["3f8f5256.47bece"]]},{"id":"3f8f5256.47bece","type":"pipe2","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3222.6458773612976,"wires":[["5dbc079c.8163c8"]]},{"id":"5dbc079c.8163c8","type":"pipe3","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3302.6458773612976,"wires":[["c545394.3abccc8"]]},{"id":"c545394.3abccc8","type":"pipe1","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3382.6458773612976,"wires":[["8b36303d.2f28d"]]},{"id":"8b36303d.2f28d","type":"pipe1","z":"d6419992.118b88","name":"","x":3487.9861068725586,"y":2748.4305849075317,"wires":[["5b13744a.61dcbc"]]},{"id":"5b13744a.61dcbc","type":"pipe2","z":"d6419992.118b88","name":"","x":3489.9930534362793,"y":2806.586833000183,"wires":[["b1becfb0.96993"]]},{"id":"b1becfb0.96993","type":"pipe3","z":"d6419992.118b88","name":"","x":3495.982677459717,"y":2859.5556135177612,"wires":[["7b5ea4c1.3522ac"]]},{"id":"7b5ea4c1.3522ac","type":"pipe1","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":2922.6458773612976,"wires":[["c259d106.4e9f2"]]},{"id":"c259d106.4e9f2","type":"pipe2","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3002.6458773612976,"wires":[["d8f3d9df.e17808"]]},{"id":"d8f3d9df.e17808","type":"pipe3","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3082.6458773612976,"wires":[["698e7b9c.e1dcb4"]]},{"id":"698e7b9c.e1dcb4","type":"pipe1","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3142.6458773612976,"wires":[["726c330.45051cc"]]},{"id":"726c330.45051cc","type":"pipe2","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3222.6458773612976,"wires":[["16346d30.05dd13"]]},{"id":"16346d30.05dd13","type":"pipe3","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3302.6458773612976,"wires":[["d393927d.b908d"]]},{"id":"d393927d.b908d","type":"pipe1","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3382.6458773612976,"wires":[["f9ef6e81.9e951"]]},{"id":"f9ef6e81.9e951","type":"pipe1","z":"d6419992.118b88","name":"","x":3727.9861068725586,"y":2748.4305849075317,"wires":[["a5462f03.7093d"]]},{"id":"a5462f03.7093d","type":"pipe2","z":"d6419992.118b88","name":"","x":3729.9930534362793,"y":2806.586833000183,"wires":[["ee68c27a.75bf1"]]},{"id":"ee68c27a.75bf1","type":"pipe3","z":"d6419992.118b88","name":"","x":3735.982677459717,"y":2859.5556135177612,"wires":[["6667cd39.c0c014"]]},{"id":"6667cd39.c0c014","type":"pipe1","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":2922.6458773612976,"wires":[["20db0c10.8a7384"]]},{"id":"20db0c10.8a7384","type":"pipe2","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3002.6458773612976,"wires":[["b9b72206.14e76"]]},{"id":"b9b72206.14e76","type":"pipe3","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3082.6458773612976,"wires":[["e609d55e.eaf1d8"]]},{"id":"e609d55e.eaf1d8","type":"pipe1","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3142.6458773612976,"wires":[["e5448e69.46e94"]]},{"id":"e5448e69.46e94","type":"pipe2","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3222.6458773612976,"wires":[["4fab991f.401e68"]]},{"id":"4fab991f.401e68","type":"pipe3","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3302.6458773612976,"wires":[["ace1bc81.360c9"]]},{"id":"ace1bc81.360c9","type":"pipe1","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3382.6458773612976,"wires":[["d52df2e9.486d1"]]},{"id":"d52df2e9.486d1","type":"pipe1","z":"d6419992.118b88","name":"","x":3927.9861068725586,"y":2748.4305849075317,"wires":[["1acec9d9.55c916"]]},{"id":"1acec9d9.55c916","type":"pipe2","z":"d6419992.118b88","name":"","x":3929.9930534362793,"y":2806.586833000183,"wires":[["91f43093.9de14"]]},{"id":"91f43093.9de14","type":"pipe3","z":"d6419992.118b88","name":"","x":3935.982677459717,"y":2859.5556135177612,"wires":[["cbeb00a3.34bd5"]]},{"id":"cbeb00a3.34bd5","type":"pipe1","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":2922.6458773612976,"wires":[["350465e6.6f03ca"]]},{"id":"350465e6.6f03ca","type":"pipe2","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3002.6458773612976,"wires":[["1cb6c460.15278c"]]},{"id":"1cb6c460.15278c","type":"pipe3","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3082.6458773612976,"wires":[["86476ef8.55161"]]},{"id":"86476ef8.55161","type":"pipe1","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3142.6458773612976,"wires":[["b6270975.ee13f8"]]},{"id":"b6270975.ee13f8","type":"pipe2","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3222.6458773612976,"wires":[["4b61da5b.71ef84"]]},{"id":"4b61da5b.71ef84","type":"pipe3","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3302.6458773612976,"wires":[["3c3719c7.27d0a6"]]},{"id":"3c3719c7.27d0a6","type":"pipe1","z":"d6419992.118b88","name":"","x":3927.9861068725586,"y":3388.4305849075317,"wires":[["734a9703.70e808"]]},{"id":"734a9703.70e808","type":"pipe1","z":"d6419992.118b88","name":"","x":2947.9861068725586,"y":3568.4305849075317,"wires":[["9015e358.cd18d"]]},{"id":"9015e358.cd18d","type":"pipe2","z":"d6419992.118b88","name":"","x":2969.9930534362793,"y":3626.586833000183,"wires":[["cabca66e.0d9568"]]},{"id":"cabca66e.0d9568","type":"pipe3","z":"d6419992.118b88","name":"","x":2975.982677459717,"y":3679.5556135177612,"wires":[["35b6a3ee.9eb56c"]]},{"id":"35b6a3ee.9eb56c","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":3742.6458773612976,"wires":[["500071f9.7ca46"]]},{"id":"500071f9.7ca46","type":"pipe2","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":3822.6458773612976,"wires":[["5c7e4f7e.6ab17"]]},{"id":"5c7e4f7e.6ab17","type":"pipe3","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":3902.6458773612976,"wires":[["1b46afe3.1ed7b"]]},{"id":"1b46afe3.1ed7b","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":3962.6458773612976,"wires":[["78bc3472.21be8c"]]},{"id":"78bc3472.21be8c","type":"pipe2","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4042.6458773612976,"wires":[["59fb83f4.e9543c"]]},{"id":"59fb83f4.e9543c","type":"pipe3","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4122.645877361298,"wires":[["a0476d07.c59af"]]},{"id":"a0476d07.c59af","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4182.645877361298,"wires":[["b5dc469.c2c07b8"]]},{"id":"b5dc469.c2c07b8","type":"pipe1","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":3562.6458773612976,"wires":[["2a3a0a76.bf25c6"]]},{"id":"2a3a0a76.bf25c6","type":"pipe2","z":"d6419992.118b88","name":"","x":3258.9861068725586,"y":3620.802125453949,"wires":[["284d3a03.f5a966"]]},{"id":"284d3a03.f5a966","type":"pipe3","z":"d6419992.118b88","name":"","x":3264.975730895996,"y":3673.770905971527,"wires":[["e3eff7c3.fc63a8"]]},{"id":"e3eff7c3.fc63a8","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":3736.8611698150635,"wires":[["3af9f4f4.48291c"]]},{"id":"3af9f4f4.48291c","type":"pipe2","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":3816.8611698150635,"wires":[["86241892.4fb548"]]},{"id":"86241892.4fb548","type":"pipe3","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":3896.8611698150635,"wires":[["c312fce2.1f41a"]]},{"id":"c312fce2.1f41a","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":3956.8611698150635,"wires":[["151ab142.b794ff"]]},{"id":"151ab142.b794ff","type":"pipe2","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4036.8611698150635,"wires":[["66336f9b.f057b"]]},{"id":"66336f9b.f057b","type":"pipe3","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4116.8611698150635,"wires":[["3a1349ac.2405a6"]]},{"id":"3a1349ac.2405a6","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4196.8611698150635,"wires":[["4fda06ee.750b68"]]},{"id":"4fda06ee.750b68","type":"pipe1","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":3562.6458773612976,"wires":[["8ddfbcda.0b099"]]},{"id":"8ddfbcda.0b099","type":"pipe2","z":"d6419992.118b88","name":"","x":3498.9861068725586,"y":3620.802125453949,"wires":[["34cf2fd8.4eed5"]]},{"id":"34cf2fd8.4eed5","type":"pipe3","z":"d6419992.118b88","name":"","x":3504.975730895996,"y":3673.770905971527,"wires":[["9a7ad1eb.896e5"]]},{"id":"9a7ad1eb.896e5","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":3736.8611698150635,"wires":[["10cb1e66.60af12"]]},{"id":"10cb1e66.60af12","type":"pipe2","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":3816.8611698150635,"wires":[["be6ac36f.4a605"]]},{"id":"be6ac36f.4a605","type":"pipe3","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":3896.8611698150635,"wires":[["1b5b522b.efaace"]]},{"id":"1b5b522b.efaace","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":3956.8611698150635,"wires":[["da4aacf8.e8c7b"]]},{"id":"da4aacf8.e8c7b","type":"pipe2","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4036.8611698150635,"wires":[["f8da62ed.bce8a"]]},{"id":"f8da62ed.bce8a","type":"pipe3","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4116.8611698150635,"wires":[["7072799e.8f0158"]]},{"id":"7072799e.8f0158","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4196.8611698150635,"wires":[["f463317.165d8d"]]},{"id":"f463317.165d8d","type":"pipe1","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":3562.6458773612976,"wires":[["8f63c265.b4913"]]},{"id":"8f63c265.b4913","type":"pipe2","z":"d6419992.118b88","name":"","x":3738.9861068725586,"y":3620.802125453949,"wires":[["dbcf353c.eca968"]]},{"id":"dbcf353c.eca968","type":"pipe3","z":"d6419992.118b88","name":"","x":3744.975730895996,"y":3673.770905971527,"wires":[["ebabf738.1a7408"]]},{"id":"ebabf738.1a7408","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":3736.8611698150635,"wires":[["94839f2a.d7422"]]},{"id":"94839f2a.d7422","type":"pipe2","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":3816.8611698150635,"wires":[["50ef031e.f0a41c"]]},{"id":"50ef031e.f0a41c","type":"pipe3","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":3896.8611698150635,"wires":[["dae64c8a.61c26"]]},{"id":"dae64c8a.61c26","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":3956.8611698150635,"wires":[["a2724172.c729a"]]},{"id":"a2724172.c729a","type":"pipe2","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4036.8611698150635,"wires":[["6e3d6745.ca71d8"]]},{"id":"6e3d6745.ca71d8","type":"pipe3","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4116.8611698150635,"wires":[["60cd0e2c.39e15"]]},{"id":"60cd0e2c.39e15","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4196.8611698150635,"wires":[["9e393c2a.4571c"]]},{"id":"9e393c2a.4571c","type":"pipe1","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":3562.6458773612976,"wires":[["a6acaead.5953e"]]},{"id":"a6acaead.5953e","type":"pipe2","z":"d6419992.118b88","name":"","x":3938.9861068725586,"y":3620.802125453949,"wires":[["e3995bbc.3af3f8"]]},{"id":"e3995bbc.3af3f8","type":"pipe3","z":"d6419992.118b88","name":"","x":3944.975730895996,"y":3673.770905971527,"wires":[["c339f70f.a37c68"]]},{"id":"c339f70f.a37c68","type":"pipe1","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":3736.8611698150635,"wires":[["f776daec.edf868"]]},{"id":"f776daec.edf868","type":"pipe2","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":3816.8611698150635,"wires":[["dc27d4cc.5d3218"]]},{"id":"dc27d4cc.5d3218","type":"pipe3","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":3896.8611698150635,"wires":[["12c4d769.7208d9"]]},{"id":"12c4d769.7208d9","type":"pipe1","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":3956.8611698150635,"wires":[["8c12e4ad.395ec8"]]},{"id":"8c12e4ad.395ec8","type":"pipe2","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4036.8611698150635,"wires":[["65b2afdc.ab619"]]},{"id":"65b2afdc.ab619","type":"pipe3","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4116.8611698150635,"wires":[["8b62f6a9.1290b8"]]},{"id":"8b62f6a9.1290b8","type":"pipe1","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":4202.645877361298,"wires":[["fe1f9238.0bcb2"]]},{"id":"fe1f9238.0bcb2","type":"pipe1","z":"d6419992.118b88","name":"","x":2967.9861068725586,"y":4348.430584907532,"wires":[["a0412dc.6f427d"]]},{"id":"a0412dc.6f427d","type":"pipe2","z":"d6419992.118b88","name":"","x":2969.9930534362793,"y":4406.586833000183,"wires":[["2e3753cf.09ffac"]]},{"id":"2e3753cf.09ffac","type":"pipe3","z":"d6419992.118b88","name":"","x":2975.982677459717,"y":4459.555613517761,"wires":[["11f2d7e3.f5a2e8"]]},{"id":"11f2d7e3.f5a2e8","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4522.645877361298,"wires":[["4ed57159.27506"]]},{"id":"4ed57159.27506","type":"pipe2","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4602.645877361298,"wires":[["5c1a81bf.c36f7"]]},{"id":"5c1a81bf.c36f7","type":"pipe3","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4682.645877361298,"wires":[["952b62f0.e5fdd"]]},{"id":"952b62f0.e5fdd","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4742.645877361298,"wires":[["7aa25b85.d00a34"]]},{"id":"7aa25b85.d00a34","type":"pipe2","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4822.645877361298,"wires":[["471f2943.872428"]]},{"id":"471f2943.872428","type":"pipe3","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4902.645877361298,"wires":[["ca348400.ba37d8"]]},{"id":"ca348400.ba37d8","type":"pipe1","z":"d6419992.118b88","name":"","x":2976.979160308838,"y":4962.645877361298,"wires":[["8a713a11.86dac8"]]},{"id":"8a713a11.86dac8","type":"pipe1","z":"d6419992.118b88","name":"","x":3256.979160308838,"y":4342.645877361298,"wires":[["b2b28e55.2764e"]]},{"id":"b2b28e55.2764e","type":"pipe2","z":"d6419992.118b88","name":"","x":3258.9861068725586,"y":4400.802125453949,"wires":[["26eb6df4.835512"]]},{"id":"26eb6df4.835512","type":"pipe3","z":"d6419992.118b88","name":"","x":3264.975730895996,"y":4453.770905971527,"wires":[["6e060df8.09cbe4"]]},{"id":"6e060df8.09cbe4","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4516.8611698150635,"wires":[["2ca4d22f.bf426e"]]},{"id":"2ca4d22f.bf426e","type":"pipe2","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4596.8611698150635,"wires":[["9c198146.a58ea"]]},{"id":"9c198146.a58ea","type":"pipe3","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4676.8611698150635,"wires":[["f310806f.61d0c"]]},{"id":"f310806f.61d0c","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4736.8611698150635,"wires":[["bb79ef4e.363fe"]]},{"id":"bb79ef4e.363fe","type":"pipe2","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4816.8611698150635,"wires":[["82e02b7b.8d2248"]]},{"id":"82e02b7b.8d2248","type":"pipe3","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4896.8611698150635,"wires":[["f99e8d66.1c452"]]},{"id":"f99e8d66.1c452","type":"pipe1","z":"d6419992.118b88","name":"","x":3265.972213745117,"y":4976.8611698150635,"wires":[["c0c67b5b.099788"]]},{"id":"c0c67b5b.099788","type":"pipe1","z":"d6419992.118b88","name":"","x":3496.979160308838,"y":4342.645877361298,"wires":[["8b905d8f.d77f4"]]},{"id":"8b905d8f.d77f4","type":"pipe2","z":"d6419992.118b88","name":"","x":3498.9861068725586,"y":4400.802125453949,"wires":[["c0b12a0b.f49bb8"]]},{"id":"c0b12a0b.f49bb8","type":"pipe3","z":"d6419992.118b88","name":"","x":3504.975730895996,"y":4453.770905971527,"wires":[["124a0e36.7bb8e2"]]},{"id":"124a0e36.7bb8e2","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4516.8611698150635,"wires":[["6b8ac209.430f7c"]]},{"id":"6b8ac209.430f7c","type":"pipe2","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4596.8611698150635,"wires":[["48e2a81d.f68688"]]},{"id":"48e2a81d.f68688","type":"pipe3","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4676.8611698150635,"wires":[["15998c5.a10d074"]]},{"id":"15998c5.a10d074","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4736.8611698150635,"wires":[["98dffa45.3e4d38"]]},{"id":"98dffa45.3e4d38","type":"pipe2","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4816.8611698150635,"wires":[["52d46583.504d8c"]]},{"id":"52d46583.504d8c","type":"pipe3","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4896.8611698150635,"wires":[["1f3350c2.9a043f"]]},{"id":"1f3350c2.9a043f","type":"pipe1","z":"d6419992.118b88","name":"","x":3505.972213745117,"y":4976.8611698150635,"wires":[["3d15d521.96c3fa"]]},{"id":"3d15d521.96c3fa","type":"pipe1","z":"d6419992.118b88","name":"","x":3736.979160308838,"y":4342.645877361298,"wires":[["fcee2a41.a24728"]]},{"id":"fcee2a41.a24728","type":"pipe2","z":"d6419992.118b88","name":"","x":3738.9861068725586,"y":4400.802125453949,"wires":[["cca01c0e.d980c"]]},{"id":"cca01c0e.d980c","type":"pipe3","z":"d6419992.118b88","name":"","x":3744.975730895996,"y":4453.770905971527,"wires":[["b789b147.2cedd"]]},{"id":"b789b147.2cedd","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4516.8611698150635,"wires":[["d8f2d9d7.666d58"]]},{"id":"d8f2d9d7.666d58","type":"pipe2","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4596.8611698150635,"wires":[["657ecc85.ecf124"]]},{"id":"657ecc85.ecf124","type":"pipe3","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4676.8611698150635,"wires":[["c1fa35f1.2d8298"]]},{"id":"c1fa35f1.2d8298","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4736.8611698150635,"wires":[["82ede6ae.3749e8"]]},{"id":"82ede6ae.3749e8","type":"pipe2","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4816.8611698150635,"wires":[["81d34a7d.6942b8"]]},{"id":"81d34a7d.6942b8","type":"pipe3","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4896.8611698150635,"wires":[["3d5a7379.a809cc"]]},{"id":"3d5a7379.a809cc","type":"pipe1","z":"d6419992.118b88","name":"","x":3745.972213745117,"y":4976.8611698150635,"wires":[["27d01730.6a02a8"]]},{"id":"27d01730.6a02a8","type":"pipe1","z":"d6419992.118b88","name":"","x":3936.979160308838,"y":4342.645877361298,"wires":[["904a2b.d39485d8"]]},{"id":"904a2b.d39485d8","type":"pipe2","z":"d6419992.118b88","name":"","x":3938.9861068725586,"y":4400.802125453949,"wires":[["e2e873d9.31d51"]]},{"id":"e2e873d9.31d51","type":"pipe3","z":"d6419992.118b88","name":"","x":3944.975730895996,"y":4453.770905971527,"wires":[["7dbcd12a.a3574"]]},{"id":"7dbcd12a.a3574","type":"pipe1","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4516.8611698150635,"wires":[["64dc986a.2f6f58"]]},{"id":"64dc986a.2f6f58","type":"pipe2","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4596.8611698150635,"wires":[["66ae1afb.f2bb34"]]},{"id":"66ae1afb.f2bb34","type":"pipe3","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4676.8611698150635,"wires":[["3d359890.04c4c8"]]},{"id":"3d359890.04c4c8","type":"pipe1","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4736.8611698150635,"wires":[["e9ad1dc4.a15ce"]]},{"id":"e9ad1dc4.a15ce","type":"pipe2","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4816.8611698150635,"wires":[["6ac75c29.27bfe4"]]},{"id":"6ac75c29.27bfe4","type":"pipe3","z":"d6419992.118b88","name":"","x":3945.972213745117,"y":4896.8611698150635,"wires":[["d17c92da.d316a"]]},{"id":"d17c92da.d316a","type":"pipe1","z":"d6419992.118b88","name":"","x":3930,"y":4980,"wires":[["c5dde5ab.fdcb68"]]}]